/* DEPOSIT PAGE: amount, method, method forms */

/* disable HTML5 spin-arrows for <input type=number> */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button, input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance:textfield;
}

.Deposit { margin: 0; }
/* amount select */
.Deposit .amountBox {
	clear: both;
	margin: 0;
	padding: 0;
	text-align: center;
 }
.Deposit .amountBox .amountOption {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 80px;
	margin: 15px 10px;
	line-height: 40px;
	border: 1px solid #35589c;
	border-radius: 4px;
	cursor: pointer;
}
.Deposit .amountBox .amountOption:first-child { margin-left: 3px; }
.Deposit .amountBox .amountOption:last-child { margin-right: 3px; }
.Deposit .amountBox .amountOption:last-child span {
	display: block;
	position: absolute;
	width: 80px;
	padding: 4px 0;
	font-size: 16px;
	line-height: 16px;
	color: #777;

}
.Deposit .amountBox .amountOption:last-child span.entered {
	padding: 0;
	line-height: 40px;
	font-size: 16px;
}
.Deposit .amountBox .amountOption.active span.entered {
	padding: 0;
	/* line-height: 44px; */
	font-size: 18px;
	/* color: #fff; */
}
.Deposit .amountBox .amountOption.active {
	/* background: #35589c; color: #fff; */
	border-width: 3px;
	border-radius: 5px;
	top: 2px;
	font-size: 110%;
	border-width: 3px;
}
.Deposit .amountBox .amountOption input {
	/* background: #35589c; color: #fff; */
	opacity: 0;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	border: none;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}
.Deposit .amountBox .amountOption input:focus { opacity: 1; }

/* method select */
.Deposit .method { position: relative; }
.Deposit .methodBox {
	display: none;
	clear: both;
	position: absolute;
	z-index: 10;
	top: 27px;
	left: 0;
	right: 0;
	margin: 5px;
	padding: 5px 2px;
	border: 1px solid #35589c;
	background: #fff;
	text-align: center;
}
.Deposit .methodBox .methodOption {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 5px;
	margin-bottom: 0;
	padding: 0;
	width: 28%;
	max-width: 80px;
	height: 32px;
	border: 1px solid #35589c;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}
.Deposit .methodBox .methodOption.active {
	color: #fff;
}
.Deposit .methodOpen {
	position: relative;
	background-image:url(/img/drop-down-arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.Deposit .methodOpen .methodSelected {
	position: absolute;
	overflow: hidden;
	display: inline-block;
	top: 1px;
	right: 30px;
	width: 80px;
	height: 31px;
	padding: 0;
	border: 1px solid #35589c;
	border-radius: 4px;
	background: #fff;
	text-align: center;
	font-size: 14px;
	color: #000;
}

/* payment fields */
#paymentFields { margin: 0; }
