/*Home Page Css Here*/
#loading-overlay {
	/*display:none;*/
	position:fixed;
	z-index:99999;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(255,255,255,0.6) url(/img/loading.gif) center center no-repeat;
}

.home_page .col-lg-8 .col-lg-6 {
	float: left;
	width: 100%;
	text-align: center;
}

.yellow-header .col-lg-6 {
	float: left;
	text-align: center;
	width: 100% !important;
}

.home_page .col-lg-8 .col-lg-6 ul {
	list-style: none;
	padding: 4px 10px;
	margin: 5px 0;
}

.home_page .col-lg-8 .col-lg-6 ul li {
	font-weight: bold;
	font-size: 17px;
}

#msection {
	overflow-x: auto;
}

#msection .table.winner {
	width: 100%
}

.img-circle.circle-active {
	display: inline-block;
	float: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.circle-no {
	background: #fff none repeat scroll 0 0;
	margin: 4px;
}

.circle-active, .circle-no {
	cursor: pointer;
	float: left;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}
.circle-active h3, .circle-no h3 {
	margin: 0; padding: 0;
	line-height: 40px;
}

.circle-blue, .circle-gray, .circle-green {
	float: left;
	margin: 1px;
	width: 32px;
	height: 32px;
	background: #35589c none repeat scroll 0 0;
}
.circle-green {
	background-color: #019245;
}

.circle-blue h4, .circle-gray h4, .circle-green h4 {
	color: #fff !important;
	margin: 6px;
}

.btn-warning {
	border: none;
	font-size: 16px;
	padding: 4px 15px;
	background-color: #f5aa19;
	color: #fff;
}
.btn-warning:hover { background-color: #009345; }

.btn-play {
	display: block;
	position: relative;
	overflow: hidden;
	width: 80px;
	padding: 0;
	line-height: 30px;
	border: none;
	background-color: #009345;
	color: #fff;
	font-size: 18px;
}
.btn-play:hover { background-color: #f5aa19; }

/* BALLS AREA */
#regular_picks { padding-left: 13px; }
.img-circle {
	border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
}
.img-circle span {
	color: #fff;
	display: block;
	font-weight: bold;
	line-height: 32px;
}
.balls_box .img-circle span, #selected_balls .img-circle span { }
.balls_box .btn3 {
	opacity: 0;
	float: right;
	margin-right: 15px;
}
.regular_box {
	background:#35589C;
	padding:18px 3px;
}
.regular_box .fa-check-circle {
	color: #009345;
	background: radial-gradient(ellipse at center, #fff 0%, #fff 50%, #35589c 51%) no-repeat; /* w3c */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #35589c)) no-repeat; /* safari4+,chrome */
	background: -o-radial-gradient(center, ellipse cover, #fff 0%, #fff 50%, #35589c 51%) no-repeat; /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #fff 0%, #fff 50%, #35589c 51%) no-repeat; /* ie10+ */
	background: -moz-radial-gradient(center, circle closest-corner, #fff 0%, #fff 50%, #35589c 51%) no-repeat; /* ff3.6+ */
}
.extra_box {
	background: #666;
	margin-top: 5px;
}
#extra_balls {
	background: #666;
	padding: 18px;
	margin-top: 5px;
}
#selected_balls { padding-left: 0; }
.lottery-heading {
	margin: 0 0 30px 0;
	height: 32px;
	font-size: 26px;
	font-weight: bold;
	color: #35589c;
}
.lottery-title{
	font-weight:bold;
	color:@text-blue;
	margin: 0;
	padding-left: 0;
	background: #35589c;
	color: #fff;
}
.lottery-title .jp {
	font-size: 30px;
	margin-top: 15px;
	font-style: italic;
}
.pickNum, .pickNumExtra {
	margin: 0px;
}
#regular_balls {
	background: #35589C;
	padding: 13px;
	text-align: center;
}
#extra_balls {
	background: #666;
	padding: 13px;
	margin-top: 5px;
	text-align: center;
}
#regular_balls .img-circle,
#extra_balls .img-circle {
	display: inline-block;
	float: none;
}
.circle-active {
	background: #e60030 none repeat scroll 0 0;
	margin: 3px;
}

#selected_balls {

	float: left;
	margin-top: 7px;
	text-align: center;
	width: 100%;
	position: relative;
}

.circle-active.bonus {
	background: #666;

}

.numberTaken {
	background: #e60030 none repeat scroll 0 0;
}

.numberTaken h3 {
	color: #fff !important;
}

.numberTakenExtra {
	background: #333 none repeat scroll 0 0;
}

.numberTakenExtra h3 {
	color: #fff !important;
}






#hello h5 {
	color: #35589C;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #f2f8fb;
}

.yourLotteryPicks th {
	background: none repeat scroll 0 0 #35589c;
	border-bottom: none;
	color: #fff;
	padding: 5px 2px;
	text-align: left;
}

.yourLotteryPicks th.last {
	border-right: 0
}

.yourLotteryPicks td {
	background-color: #f2f8fb;
	border-bottom: 1px solid #eee;
}

.yourLotteryPicks td[align=center] > div {
	text-align: center;
	display: inline-block;
}

.yourLotteryPicks td.picked_numbers {
	text-align: center;
	border-bottom: 2px double #adb1b9;
	padding: 1px 0;
	background: #f2f8fb;
}

.yourLotteryPicks.previous td, .yourLotteryPicks.previous td.picked_numbers {
	/*text-align: center;*/
	background-color: #f5f5f5 !important;
}

h4.yourLotteryPicks {
	color: #35589c;
	margin: 30px 0 5px;
	font-size: 16px;
	padding: 0;
}
#showAfterPlay.yourLotteryPicks {
	color: white; margin: 0; height: 10px; font-size: 1px; /* hide "Confirm your Tickets" */
}

#yourLotteryPicksTable th {
	padding: 2px 7px;
	background: none repeat scroll 0 0 #35589c;
	border-bottom: none;
	text-align: left;
	color: #fff;
}

#yourLotteryPicksTable th:last-child,
#yourLotteryPicksTable td:last-child
/*, .yourLotteryPicks th:last-child, .yourLotteryPicks td:last-child*/ {
	display:none;
}

#yourLotteryPicksTable td {
	vertical-align: middle !important;
	border-bottom: 2px solid #eee;
	padding: 4px 8px;
	text-align: left;
}
#yourLotteryPicksTable td:nth-child(2),
#yourLotteryPicksTable td:nth-child(4) {
	padding-top:0; padding-bottom:0;
}

.table.featured_lottery {
	width: 100% !important;
	max-width: 600px;
	margin: 0 auto;
	border-collapse: collapse;
    table-layout: fixed;
}
.table.featured_lottery tbody {
    display: block;
    overflow: auto;
}
.table.featured_lottery th {
	background: none repeat scroll 0 0 #35589c;
	border-bottom: none;
	color: #fff
}
.table.featured_lottery td img { max-width: 116px; height: auto; }
.table.featured_lottery h3 { font-size: 16px; color: #35589c; }

.bmBlueCircle {
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 27px;
	font-weight: bold;
}

.removePickedLottery {
	font-size: 20px;
	margin-left: 5px;
}


/* login page */
.login_page h5.pageHeading {
	font-size: 18px;
}

.login_page h5 {
	color: #35589c;
	font-weight: 700;
}

.intl-tel-input {
	position: relative;
}

.no-margin {
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

.intl-tel-input .flag-dropdown {
	bottom: 0;
	padding: 1px;
	position: absolute;
	top: 0;
}

.intl-tel-input * {
	box-sizing: border-box;
}

.login_page .padding10 {
	padding: 4px 10px 5px;
	width: 242px;
	text-align: center;
	margin: 0 auto;
}

.intl-tel-input .selected-flag .iti-flag {
	bottom: 0;
	margin: auto;
	position: absolute;
	top: 0;
}

.intl-tel-input .country-list {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	list-style: outside none none;
	margin: 0 0 0 -1px;
	max-height: 200px;
	overflow-y: scroll;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 2;
}

.intl-tel-input .country-list .country {
	padding: 5px 10px;
	text-align: left;
}

.intl-tel-input .country-list .flag, .intl-tel-input .country-list .country-name {
	margin-right: 6px;
}

.intl-tel-input .country-list .flag, .intl-tel-input .country-list .country-name, .intl-tel-input .country-list .dial-code {
	vertical-align: middle;
}

.intl-tel-input .country-list .flag {
	display: inline-block;
	width: 20px;
}

.flag {
	cursor: auto;
}

.intl-tel-input input, .intl-tel-input input[type="text"], .intl-tel-input input[type="tel"] {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0;
	margin-top: 0 !important;
	padding-left: 48px;
	position: relative;
	transition: background-color 100ms ease-out 0s;
	width: 100%;
	z-index: 0;
}

.intl-tel-input input.iti-invalid-key {
	background-color: #ffc7c7;
}

.intl-tel-input .flag-dropdown {
	bottom: 0;
	padding: 1px;
	position: absolute;
	top: 0;
}

.intl-tel-input .flag-dropdown:hover {
	cursor: pointer;
}

.intl-tel-input .flag-dropdown:hover .selected-flag {
	background-color: rgba(0, 0, 0, 0.05);
}

.intl-tel-input input[disabled] + .flag-dropdown:hover, .intl-tel-input input[readonly] + .flag-dropdown:hover {
	cursor: default;
}

.intl-tel-input input[disabled] + .flag-dropdown:hover .selected-flag, .intl-tel-input input[readonly] + .flag-dropdown:hover .selected-flag {
	background-color: transparent;
}

.intl-tel-input .selected-flag {
	height: 100%;
	padding: 0 0 0 8px;
	position: relative;
	width: 42px;
	z-index: 1;
}

.intl-tel-input .selected-flag .iti-flag {
	bottom: 0;
	margin: auto;
	position: absolute;
	top: 0;
}

.intl-tel-input .selected-flag .arrow {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #555;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 4px;
	top: 50%;
	width: 0;
}

.intl-tel-input .selected-flag .arrow.up {
	border-bottom: 4px solid #555;
	border-top: medium none;
}

.intl-tel-input .country-list {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	list-style: outside none none;
	margin: 0 0 0 -1px;
	max-height: 200px;
	overflow-y: scroll;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 2;
}

.intl-tel-input .country-list .flag {
	display: inline-block;
	width: 20px;
}

@media (max-width: 500px) {
	.intl-tel-input .country-list {
		white-space: normal;
	}
}

.intl-tel-input .country-list .divider {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.intl-tel-input .country-list .country {
	padding: 5px 10px;
	text-align: left;
}

.intl-tel-input .country-list .country .dial-code {
	color: #999;
}

.intl-tel-input .country-list .country.highlight {
	background-color: rgba(0, 0, 0, 0.05);
}

.intl-tel-input .country-list .flag, .intl-tel-input .country-list .country-name, .intl-tel-input .country-list .dial-code {
	vertical-align: middle;
}

.intl-tel-input .country-list .flag, .intl-tel-input .country-list .country-name {
	margin-right: 6px;
}

.intl-tel-input select {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 42px;
	z-index: 1;
}

.iti-flag {
	width: 20px;
}

.iti-flag.be {
	width: 18px;
}

.iti-flag.ch {
	width: 15px;
}

.iti-flag.mc {
	width: 19px;
}

.iti-flag.ne {
	width: 18px;
}

.iti-flag.np {
	width: 13px;
}

.iti-flag.va {
	width: 15px;
}

@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-size: 5630px 15px;
	}
}

.iti-flag.ac {
	background-position: 0 0;
	height: 10px;
}

.iti-flag.ad {
	background-position: -22px 0;
	height: 14px;
}

.iti-flag.ae {
	background-position: -44px 0;
	height: 10px;
}

.iti-flag.af {
	background-position: -66px 0;
	height: 14px;
}

.iti-flag.ag {
	background-position: -88px 0;
	height: 14px;
}

.iti-flag.ai {
	background-position: -110px 0;
	height: 10px;
}

.iti-flag.al {
	background-position: -132px 0;
	height: 15px;
}

.iti-flag.am {
	background-position: -154px 0;
	height: 10px;
}

.iti-flag.ao {
	background-position: -176px 0;
	height: 14px;
}

.iti-flag.aq {
	background-position: -198px 0;
	height: 14px;
}

.iti-flag.ar {
	background-position: -220px 0;
	height: 13px;
}

.iti-flag.as {
	background-position: -242px 0;
	height: 10px;
}

.iti-flag.at {
	background-position: -264px 0;
	height: 14px;
}

.iti-flag.au {
	background-position: -286px 0;
	height: 10px;
}

.iti-flag.aw {
	background-position: -308px 0;
	height: 14px;
}

.iti-flag.ax {
	background-position: -330px 0;
	height: 13px;
}

.iti-flag.az {
	background-position: -352px 0;
	height: 10px;
}

.iti-flag.ba {
	background-position: -374px 0;
	height: 10px;
}

.iti-flag.bb {
	background-position: -396px 0;
	height: 14px;
}

.iti-flag.bd {
	background-position: -418px 0;
	height: 12px;
}

.iti-flag.be {
	background-position: -440px 0;
	height: 15px;
}

.iti-flag.bf {
	background-position: -460px 0;
	height: 14px;
}

.iti-flag.bg {
	background-position: -482px 0;
	height: 12px;
}

.iti-flag.bh {
	background-position: -504px 0;
	height: 12px;
}

.iti-flag.bi {
	background-position: -526px 0;
	height: 12px;
}

.iti-flag.bj {
	background-position: -548px 0;
	height: 14px;
}

.iti-flag.bl {
	background-position: -570px 0;
	height: 14px;
}

.iti-flag.bm {
	background-position: -592px 0;
	height: 10px;
}

.iti-flag.bn {
	background-position: -614px 0;
	height: 10px;
}

.iti-flag.bo {
	background-position: -636px 0;
	height: 14px;
}

.iti-flag.bq {
	background-position: -658px 0;
	height: 14px;
}

.iti-flag.br {
	background-position: -680px 0;
	height: 14px;
}

.iti-flag.bs {
	background-position: -702px 0;
	height: 10px;
}

.iti-flag.bt {
	background-position: -724px 0;
	height: 14px;
}

.iti-flag.bv {
	background-position: -746px 0;
	height: 15px;
}

.iti-flag.bw {
	background-position: -768px 0;
	height: 14px;
}

.iti-flag.by {
	background-position: -790px 0;
	height: 10px;
}

.iti-flag.bz {
	background-position: -812px 0;
	height: 14px;
}

.iti-flag.ca {
	background-position: -834px 0;
	height: 10px;
}

.iti-flag.cc {
	background-position: -856px 0;
	height: 10px;
}

.iti-flag.cd {
	background-position: -878px 0;
	height: 15px;
}

.iti-flag.cf {
	background-position: -900px 0;
	height: 14px;
}

.iti-flag.cg {
	background-position: -922px 0;
	height: 14px;
}

.iti-flag.ch {
	background-position: -944px 0;
	height: 15px;
}

.iti-flag.ci {
	background-position: -961px 0;
	height: 14px;
}

.iti-flag.ck {
	background-position: -983px 0;
	height: 10px;
}

.iti-flag.cl {
	background-position: -1005px 0;
	height: 14px;
}

.iti-flag.cm {
	background-position: -1027px 0;
	height: 14px;
}

.iti-flag.cn {
	background-position: -1049px 0;
	height: 14px;
}

.iti-flag.co {
	background-position: -1071px 0;
	height: 14px;
}

.iti-flag.cp {
	background-position: -1093px 0;
	height: 14px;
}

.iti-flag.cr {
	background-position: -1115px 0;
	height: 12px;
}

.iti-flag.cu {
	background-position: -1137px 0;
	height: 10px;
}

.iti-flag.cv {
	background-position: -1159px 0;
	height: 12px;
}

.iti-flag.cw {
	background-position: -1181px 0;
	height: 14px;
}

.iti-flag.cx {
	background-position: -1203px 0;
	height: 10px;
}

.iti-flag.cy {
	background-position: -1225px 0;
	height: 14px;
}

.iti-flag.cz {
	background-position: -1247px 0;
	height: 14px;
}

.iti-flag.de {
	background-position: -1269px 0;
	height: 12px;
}

.iti-flag.dg {
	background-position: -1291px 0;
	height: 10px;
}

.iti-flag.dj {
	background-position: -1313px 0;
	height: 14px;
}

.iti-flag.dk {
	background-position: -1335px 0;
	height: 15px;
}

.iti-flag.dm {
	background-position: -1357px 0;
	height: 10px;
}

.iti-flag.do {
	background-position: -1379px 0;
	height: 13px;
}

.iti-flag.dz {
	background-position: -1401px 0;
	height: 14px;
}

.iti-flag.ea {
	background-position: -1423px 0;
	height: 14px;
}

.iti-flag.ec {
	background-position: -1445px 0;
	height: 14px;
}

.iti-flag.ee {
	background-position: -1467px 0;
	height: 13px;
}

.iti-flag.eg {
	background-position: -1489px 0;
	height: 14px;
}

.iti-flag.eh {
	background-position: -1511px 0;
	height: 10px;
}

.iti-flag.er {
	background-position: -1533px 0;
	height: 10px;
}

.iti-flag.es {
	background-position: -1555px 0;
	height: 14px;
}

.iti-flag.et {
	background-position: -1577px 0;
	height: 10px;
}

.iti-flag.eu {
	background-position: -1599px 0;
	height: 14px;
}

.iti-flag.fi {
	background-position: -1621px 0;
	height: 12px;
}

.iti-flag.fj {
	background-position: -1643px 0;
	height: 10px;
}

.iti-flag.fk {
	background-position: -1665px 0;
	height: 10px;
}

.iti-flag.fm {
	background-position: -1687px 0;
	height: 11px;
}

.iti-flag.fo {
	background-position: -1709px 0;
	height: 15px;
}

.iti-flag.fr {
	background-position: -1731px 0;
	height: 14px;
}

.iti-flag.ga {
	background-position: -1753px 0;
	height: 15px;
}

.iti-flag.gb {
	background-position: -1775px 0;
	height: 10px;
}

.iti-flag.gd {
	background-position: -1797px 0;
	height: 12px;
}

.iti-flag.ge {
	background-position: -1819px 0;
	height: 14px;
}

.iti-flag.gf {
	background-position: -1841px 0;
	height: 14px;
}

.iti-flag.gg {
	background-position: -1863px 0;
	height: 14px;
}

.iti-flag.gh {
	background-position: -1885px 0;
	height: 14px;
}

.iti-flag.gi {
	background-position: -1907px 0;
	height: 10px;
}

.iti-flag.gl {
	background-position: -1929px 0;
	height: 14px;
}

.iti-flag.gm {
	background-position: -1951px 0;
	height: 14px;
}

.iti-flag.gn {
	background-position: -1973px 0;
	height: 14px;
}

.iti-flag.gp {
	background-position: -1995px 0;
	height: 14px;
}

.iti-flag.gq {
	background-position: -2017px 0;
	height: 14px;
}

.iti-flag.gr {
	background-position: -2039px 0;
	height: 14px;
}

.iti-flag.gs {
	background-position: -2061px 0;
	height: 10px;
}

.iti-flag.gt {
	background-position: -2083px 0;
	height: 13px;
}

.iti-flag.gu {
	background-position: -2105px 0;
	height: 11px;
}

.iti-flag.gw {
	background-position: -2127px 0;
	height: 10px;
}

.iti-flag.gy {
	background-position: -2149px 0;
	height: 12px;
}

.iti-flag.hk {
	background-position: -2171px 0;
	height: 14px;
}

.iti-flag.hm {
	background-position: -2193px 0;
	height: 10px;
}

.iti-flag.hn {
	background-position: -2215px 0;
	height: 10px;
}

.iti-flag.hr {
	background-position: -2237px 0;
	height: 10px;
}

.iti-flag.ht {
	background-position: -2259px 0;
	height: 12px;
}

.iti-flag.hu {
	background-position: -2281px 0;
	height: 10px;
}

.iti-flag.ic {
	background-position: -2303px 0;
	height: 14px;
}

.iti-flag.id {
	background-position: -2325px 0;
	height: 14px;
}

.iti-flag.ie {
	background-position: -2347px 0;
	height: 10px;
}

.iti-flag.il {
	background-position: -2369px 0;
	height: 15px;
}

.iti-flag.im {
	background-position: -2391px 0;
	height: 10px;
}

.iti-flag.in {
	background-position: -2413px 0;
	height: 14px;
}

.iti-flag.io {
	background-position: -2435px 0;
	height: 10px;
}

.iti-flag.iq {
	background-position: -2457px 0;
	height: 14px;
}

.iti-flag.ir {
	background-position: -2479px 0;
	height: 12px;
}

.iti-flag.is {
	background-position: -2501px 0;
	height: 15px;
}

.iti-flag.it {
	background-position: -2523px 0;
	height: 14px;
}

.iti-flag.je {
	background-position: -2545px 0;
	height: 12px;
}

.iti-flag.jm {
	background-position: -2567px 0;
	height: 10px;
}

.iti-flag.jo {
	background-position: -2589px 0;
	height: 10px;
}

.iti-flag.jp {
	background-position: -2611px 0;
	height: 14px;
}

.iti-flag.ke {
	background-position: -2633px 0;
	height: 14px;
}

.iti-flag.kg {
	background-position: -2655px 0;
	height: 12px;
}

.iti-flag.kh {
	background-position: -2677px 0;
	height: 13px;
}

.iti-flag.ki {
	background-position: -2699px 0;
	height: 10px;
}

.iti-flag.km {
	background-position: -2721px 0;
	height: 12px;
}

.iti-flag.kn {
	background-position: -2743px 0;
	height: 14px;
}

.iti-flag.kp {
	background-position: -2765px 0;
	height: 10px;
}

.iti-flag.kr {
	background-position: -2787px 0;
	height: 14px;
}

.iti-flag.kw {
	background-position: -2809px 0;
	height: 10px;
}

.iti-flag.ky {
	background-position: -2831px 0;
	height: 10px;
}

.iti-flag.kz {
	background-position: -2853px 0;
	height: 10px;
}

.iti-flag.la {
	background-position: -2875px 0;
	height: 14px;
}

.iti-flag.lb {
	background-position: -2897px 0;
	height: 14px;
}

.iti-flag.lc {
	background-position: -2919px 0;
	height: 10px;
}

.iti-flag.li {
	background-position: -2941px 0;
	height: 12px;
}

.iti-flag.lk {
	background-position: -2963px 0;
	height: 10px;
}

.iti-flag.lr {
	background-position: -2985px 0;
	height: 11px;
}

.iti-flag.ls {
	background-position: -3007px 0;
	height: 14px;
}

.iti-flag.lt {
	background-position: -3029px 0;
	height: 12px;
}

.iti-flag.lu {
	background-position: -3051px 0;
	height: 12px;
}

.iti-flag.lv {
	background-position: -3073px 0;
	height: 10px;
}

.iti-flag.ly {
	background-position: -3095px 0;
	height: 10px;
}

.iti-flag.ma {
	background-position: -3117px 0;
	height: 14px;
}

.iti-flag.mc {
	background-position: -3139px 0;
	height: 15px;
}

.iti-flag.md {
	background-position: -3160px 0;
	height: 10px;
}

.iti-flag.me {
	background-position: -3182px 0;
	height: 10px;
}

.iti-flag.mf {
	background-position: -3204px 0;
	height: 14px;
}

.iti-flag.mg {
	background-position: -3226px 0;
	height: 14px;
}

.iti-flag.mh {
	background-position: -3248px 0;
	height: 11px;
}

.iti-flag.mk {
	background-position: -3270px 0;
	height: 10px;
}

.iti-flag.ml {
	background-position: -3292px 0;
	height: 14px;
}

.iti-flag.mm {
	background-position: -3314px 0;
	height: 14px;
}

.iti-flag.mn {
	background-position: -3336px 0;
	height: 10px;
}

.iti-flag.mo {
	background-position: -3358px 0;
	height: 14px;
}

.iti-flag.mp {
	background-position: -3380px 0;
	height: 10px;
}

.iti-flag.mq {
	background-position: -3402px 0;
	height: 14px;
}

.iti-flag.mr {
	background-position: -3424px 0;
	height: 14px;
}

.iti-flag.ms {
	background-position: -3446px 0;
	height: 10px;
}

.iti-flag.mt {
	background-position: -3468px 0;
	height: 14px;
}

.iti-flag.mu {
	background-position: -3490px 0;
	height: 14px;
}

.iti-flag.mv {
	background-position: -3512px 0;
	height: 14px;
}

.iti-flag.mw {
	background-position: -3534px 0;
	height: 14px;
}

.iti-flag.mx {
	background-position: -3556px 0;
	height: 12px;
}

.iti-flag.my {
	background-position: -3578px 0;
	height: 10px;
}

.iti-flag.mz {
	background-position: -3600px 0;
	height: 14px;
}

.iti-flag.na {
	background-position: -3622px 0;
	height: 14px;
}

.iti-flag.nc {
	background-position: -3644px 0;
	height: 10px;
}

.iti-flag.ne {
	background-position: -3666px 0;
	height: 15px;
}

.iti-flag.nf {
	background-position: -3686px 0;
	height: 10px;
}

.iti-flag.ng {
	background-position: -3708px 0;
	height: 10px;
}

.iti-flag.ni {
	background-position: -3730px 0;
	height: 12px;
}

.iti-flag.nl {
	background-position: -3752px 0;
	height: 14px;
}

.iti-flag.no {
	background-position: -3774px 0;
	height: 15px;
}

.iti-flag.np {
	background-position: -3796px 0;
	height: 15px;
}

.iti-flag.nr {
	background-position: -3811px 0;
	height: 10px;
}

.iti-flag.nu {
	background-position: -3833px 0;
	height: 10px;
}

.iti-flag.nz {
	background-position: -3855px 0;
	height: 10px;
}

.iti-flag.om {
	background-position: -3877px 0;
	height: 10px;
}

.iti-flag.pa {
	background-position: -3899px 0;
	height: 14px;
}

.iti-flag.pe {
	background-position: -3921px 0;
	height: 14px;
}

.iti-flag.pf {
	background-position: -3943px 0;
	height: 14px;
}

.iti-flag.pg {
	background-position: -3965px 0;
	height: 15px;
}

.iti-flag.ph {
	background-position: -3987px 0;
	height: 10px;
}

.iti-flag.pk {
	background-position: -4009px 0;
	height: 14px;
}

.iti-flag.pl {
	background-position: -4031px 0;
	height: 13px;
}

.iti-flag.pm {
	background-position: -4053px 0;
	height: 14px;
}

.iti-flag.pn {
	background-position: -4075px 0;
	height: 10px;
}

.iti-flag.pr {
	background-position: -4097px 0;
	height: 14px;
}

.iti-flag.ps {
	background-position: -4119px 0;
	height: 10px;
}

.iti-flag.pt {
	background-position: -4141px 0;
	height: 14px;
}

.iti-flag.pw {
	background-position: -4163px 0;
	height: 13px;
}

.iti-flag.py {
	background-position: -4185px 0;
	height: 11px;
}

.iti-flag.qa {
	background-position: -4207px 0;
	height: 8px;
}

.iti-flag.re {
	background-position: -4229px 0;
	height: 14px;
}

.iti-flag.ro {
	background-position: -4251px 0;
	height: 14px;
}

.iti-flag.rs {
	background-position: -4273px 0;
	height: 14px;
}

.iti-flag.ru {
	background-position: -4295px 0;
	height: 14px;
}

.iti-flag.rw {
	background-position: -4317px 0;
	height: 14px;
}

.iti-flag.sa {
	background-position: -4339px 0;
	height: 14px;
}

.iti-flag.sb {
	background-position: -4361px 0;
	height: 10px;
}

.iti-flag.sc {
	background-position: -4383px 0;
	height: 10px;
}

.iti-flag.sd {
	background-position: -4405px 0;
	height: 10px;
}

.iti-flag.se {
	background-position: -4427px 0;
	height: 13px;
}

.iti-flag.sg {
	background-position: -4449px 0;
	height: 14px;
}

.iti-flag.sh {
	background-position: -4471px 0;
	height: 10px;
}

.iti-flag.si {
	background-position: -4493px 0;
	height: 10px;
}

.iti-flag.sj {
	background-position: -4515px 0;
	height: 15px;
}

.iti-flag.sk {
	background-position: -4537px 0;
	height: 14px;
}

.iti-flag.sl {
	background-position: -4559px 0;
	height: 14px;
}

.iti-flag.sm {
	background-position: -4581px 0;
	height: 15px;
}

.iti-flag.sn {
	background-position: -4603px 0;
	height: 14px;
}

.iti-flag.so {
	background-position: -4625px 0;
	height: 14px;
}

.iti-flag.sr {
	background-position: -4647px 0;
	height: 14px;
}

.iti-flag.ss {
	background-position: -4669px 0;
	height: 10px;
}

.iti-flag.st {
	background-position: -4691px 0;
	height: 10px;
}

.iti-flag.sv {
	background-position: -4713px 0;
	height: 12px;
}

.iti-flag.sx {
	background-position: -4735px 0;
	height: 14px;
}

.iti-flag.sy {
	background-position: -4757px 0;
	height: 14px;
}

.iti-flag.sz {
	background-position: -4779px 0;
	height: 14px;
}

.iti-flag.ta {
	background-position: -4801px 0;
	height: 10px;
}

.iti-flag.tc {
	background-position: -4823px 0;
	height: 10px;
}

.iti-flag.td {
	background-position: -4845px 0;
	height: 14px;
}

.iti-flag.tf {
	background-position: -4867px 0;
	height: 14px;
}

.iti-flag.tg {
	background-position: -4889px 0;
	height: 13px;
}

.iti-flag.th {
	background-position: -4911px 0;
	height: 14px;
}

.iti-flag.tj {
	background-position: -4933px 0;
	height: 10px;
}

.iti-flag.tk {
	background-position: -4955px 0;
	height: 10px;
}

.iti-flag.tl {
	background-position: -4977px 0;
	height: 10px;
}

.iti-flag.tm {
	background-position: -4999px 0;
	height: 14px;
}

.iti-flag.tn {
	background-position: -5021px 0;
	height: 14px;
}

.iti-flag.to {
	background-position: -5043px 0;
	height: 10px;
}

.iti-flag.tr {
	background-position: -5065px 0;
	height: 14px;
}

.iti-flag.tt {
	background-position: -5087px 0;
	height: 12px;
}

.iti-flag.tv {
	background-position: -5109px 0;
	height: 10px;
}

.iti-flag.tw {
	background-position: -5131px 0;
	height: 14px;
}

.iti-flag.tz {
	background-position: -5153px 0;
	height: 14px;
}

.iti-flag.ua {
	background-position: -5175px 0;
	height: 14px;
}

.iti-flag.ug {
	background-position: -5197px 0;
	height: 14px;
}

.iti-flag.um {
	background-position: -5219px 0;
	height: 11px;
}

.iti-flag.us {
	background-position: -5241px 0;
	height: 11px;
}

.iti-flag.uy {
	background-position: -5263px 0;
	height: 14px;
}

.iti-flag.uz {
	background-position: -5285px 0;
	height: 10px;
}

.iti-flag.va {
	background-position: -5307px 0;
	height: 15px;
}

.iti-flag.vc {
	background-position: -5324px 0;
	height: 14px;
}

.iti-flag.ve {
	background-position: -5346px 0;
	height: 14px;
}

.iti-flag.vg {
	background-position: -5368px 0;
	height: 10px;
}

.iti-flag.vi {
	background-position: -5390px 0;
	height: 14px;
}

.iti-flag.vn {
	background-position: -5412px 0;
	height: 14px;
}

.iti-flag.vu {
	background-position: -5434px 0;
	height: 12px;
}

.iti-flag.wf {
	background-position: -5456px 0;
	height: 14px;
}

.iti-flag.ws {
	background-position: -5478px 0;
	height: 10px;
}

.iti-flag.xk {
	background-position: -5500px 0;
	height: 15px;
}

.iti-flag.ye {
	background-position: -5522px 0;
	height: 14px;
}

.iti-flag.yt {
	background-position: -5544px 0;
	height: 14px;
}

.iti-flag.za {
	background-position: -5566px 0;
	height: 14px;
}

.iti-flag.zm {
	background-position: -5588px 0;
	height: 14px;
}

.iti-flag.zw {
	background-position: -5610px 0;
	height: 10px;
}

.removePackageLottery,
.removePickedLottery {
	font-weight: 700;
	color: #E60030;
	cursor: pointer;
	font-size: 18px;
}

#checkout {
	font-weight: 700;
	display: none;
}

.btn-blue {
	background: #35589C;
	color: #fff;
}

.btn, .btn2 {
	padding: 5px 30px;
	margin-bottom: 0;
	font-size: 18px;
	border: 5px solid transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.btn-red {
	background: #E60030;
	color: #fff;
}
.btn-orange {
	background: #eb5c24; /*#f5aa19;*/
	color: #fff;
}

.link {
	cursor: pointer;
	margin: 10px 0 0 0;
}

.circle-gray {
	background: #666;
	color: #fff;
}

#hello h5.pageHeading {
	font-size: 18px;
	text-align: center;

}

#frmLogin2 {
	text-align: center;
}

#frmLogin2 .form-group, #frmAccountAdd .form-group, #frmAddSupport .form-group {
	margin: 10px auto;
	width: 290px;
	text-align: center;
}

#frmLogin2 .pull-right {
	width: 100%;
	float: left;
}

#frmAccountAdd input, #frmLogin2 input .login-btn {
	width: 242px !important;
}

#frmAddSupport .form-group input, #frmAddSupport .form-group textarea {
	width: 290px;
}

.privacy-policy, .terms {
	/*	margin: 0 10px;*/
}

.signup, .account-form {
	/*	margin: 0 10px;*/
}

.signup label, .account-form label {
	float: left !important;
	width: 100%;
	text-align: left;
}

.signup .pull-right {
	float: left;
	width: 100%;
	text-align: center;
}

.signup .btn-grey.padding10 {
	background: white none repeat scroll 0 0;
	width: 242px;
}

.signup .btn-green {
	width: 242px;
}

.signup-header {
	width: 100%;
	text-align: center;
	line-height: 30px;
	height: 35px;
	border-bottom: 1px solid #d6d6d6;
	i {
		display: inline-block;
		padding: 0px;
		color: #3b599f;
		font-size: 20px;
		width: 38px;
		height: 34px;
		line-height: 33px;
	}
	h1 {
		color: #3b599f;
		font-size: 18px;
		padding: 0;
		margin: 0;
		line-height: 35px;
		display: inline-block;
	}
}

.light-green-bg {
	background-color: #02D464 !important;
}

.form-control {
	display: block;
	width: 100%; /*242px;*/
	height: 35px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#frmWithdraw .form-control {
	display: block;
	width: 90%;
	margin: 15px auto;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #012b8c;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bank_details_wrapper {
	background: #3B599F;
	margin-bottom: 10px;
	padding: 2px;
}

#viewMoreBtn {
	padding: 10px 15px;
	width: auto !important;
}

/*** 404 page ***/
.message_wrapper {
	margin: 30px auto;
}

.message_wrapper h2 {
	color: #35589c;
	font-family: inherit;
	font-size: 60px;
	padding: 6px;
	margin: 0;
	text-align: center;
}

.message_body {
	font-size: 30px;
	text-align: center;
	padding: 32px;
}

.message_body a {
	color: #35589c;

}

.message_body a:hover {
	color: #35589c;
	text-decoration: underline;

}

/************************/
/*	 Not available	*/
/************************/
.game_wrapper {
	position: relative;
}

.game_wrapper .not_available {
	position: absolute;
	background: rgba(170, 170, 170, .7);
	top: 0;
	height: 100%;
	z-index: 10;
	width: 100%;
}

.game_wrapper .not_available .not_available_msg {
	position: relative; /*absolute;*/
	width: 80%;
	height: auto;
	margin: 0 auto;
	background: #e60030;
	color: #fff;
	padding: 10px;
	font-weight: 700;
	text-align: center;
	top: 15%;
	bottom: 25%;
	line-height: 25px;
}

#playLottery { /* homepage PLAY */
	position: relative;
	overflow: hidden;
	padding: 0;
	line-height: 42px;
	border: none;
}
.checkoutBth { /* checkout buttons */
	position: relative;
	overflow: hidden;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 42px;
	border: none !important;
}
.v-gradient-white {
	padding-top: 10px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.btn-section.v-gradient-white:active {
	background: #f5aa19;
}
/* shine animation */
div.shine {
	position: relative;
	display: block;
	margin: 0;
	width: 200%;
	left: -50%;
	line-height: inherit;
	color: inherit;
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%) no-repeat; /* w3c */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.8)), color-stop(90%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0))) no-repeat; /* safari4+,chrome */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%) no-repeat; /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%) no-repeat; /* ie10+ */
	background: -moz-radial-gradient(center, circle closest-corner, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%) no-repeat; /* ff3.6+ */
	background-size: 25% 200%;
	animation: shine 20s infinite;
	-webkit-animation: shine 20s infinite;
	-moz-animation: shine 20s infinite;
}
@-webkit-keyframes shine {
	5%   { background-position: center left; }
	10%  { background-position: center right; }
	100% { background-position: center right; }
}
@-moz-keyframes shine {
    5%   { background-position: center left; }
    10%  { background-position: center right; }
    100% { background-position: center right; }
}

/* FAQ page */
#topics {

	h2 {
		color: #35589c;
	}

	h3 {
		color: #35589c;
		font-weight: normal;
	}

	.fa {
		margin-right: 10px;
	}

	.lottos-icon {

		&:before {
			display: inline-block;
			content: '';
			width: 16px;
			height: 16px;
			background: 0 2px no-repeat transparent url(/img/logo-icon.png);
		}
	}
}

/* customer support page */
#frmAddSupport {

	#answer {
		background-color: #35589c;
		color: white;
		font-size: 14px;
		margin-top: 15px;
		margin-bottom: 10px;
		padding: 5px 15px 5px;
		text-align: left;
		font-weight: normal;

		p {
			font-size: 14px;
		}

		ul {
			padding-left: 20px;

			li {
				margin-bottom: 10px;
			}
		}
	}

	#subject {
		margin-top: 8px;
	}
}

/* To hide the currency symbols and such other symbols from search engines
 * Use this construction: <span class="symbol" data-symbol="$"></span>
 */
.symbol {
	display: inline !important;

	&:after {
		content: attr(data-symbol);
	}
}

.checkoutMobile {
	/* width: 150px; margin: 0 auto; margin-bottom: -10px; */
	.link {
		margin-top: 0;
	}
}
/* less scroll panel, added 2017-09-06 */
.lessScroll {
	/*margin-top: -10px;*/
	margin-bottom: 10px;
	padding: 10px 0;
	background: @background-blue;
	text-align: center;
	a {
		display: inline-block;
		width: 130px;
		line-height: 42px;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	.add {
		margin-right: 20px;
		background: @background-green;
	}
	.play {
		background: @background-orange;
		i:before{content:"\f0d0"}
	}
}
#numbersWrap {
	overflow: hidden;
	border: 1px solid #fff;
	max-height: 10000px;
	opacity: 1;
	transition: all .6s;
}
#numbersWrap.rollUp {
	max-height: 0px;
	opacity: 0;
	transition: all .5s;
}

/* DURATION panel */
.duration {
	display: none;
	position:relative;
	top: -3px;
	.yourLotteryPicks { font-size: inherit; }
	.durHelp { /* duration help button */
		position: relative;
		display: inline-block;
		top:-2px;
		left: 4px;
		width: 16px;
		line-height: 16px;
		border-radius: 50%;
		background: #35589c;
		font-size: 12px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
	#durBanner {
		display: none;
		position: absolute;
		z-index: 1040;
		margin-left: -25%;
		left: 50%;
		top: 0px;
		width: 50%;
		min-height: 64px;
		padding: 10px;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
		i {
			display: block;
			position: relative;
			top: -2px;
			float: right;
			color: #ccc;
		}
	}
	/* duration option button */
	.durationOption {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding-left: 38px;
		line-height: 45px;
		border-bottom: 2px solid #eee;
		font-size: 16px;
		font-weight: normal;
		cursor: pointer;
		background: #f5fafe;
		i {
			display: block;
			position: absolute;
			top: 9px;
			left: 7px;
			font-size: 150%;
			color: #e4f1d8;
		}
		font {
			color: red;
		}
		div {
			position: relative;
			top: -7px;
			font-size: 13px;
			line-height: normal;
			color: #999;
		}
	}
	.durationOption.oneTime {
		line-height: 50px;
		i {
			top: 12px;
		}
	}
	.durationOption:first-child {
		border-top: 2px solid #eee;
	}
	.durationOption.active {
		background: #fff;
	}
	.durationOption.active i { color: #009345; }
	.durationOption.best::after {
		content: "MOST POPULAR";
		display: block;
		position: absolute;
		width: 60px;
		padding: 2px 0;
		top: 16px;
		right: 0;
		line-height: 12px;
		text-align: center;
		font-size:11px;
		color: #fff;
		background: #35589c;
	}
	.durationOption.best::before {
		content: " ";
		display: block;
		position: absolute;
		top: 20px;
		right: 50px;
		width: 20px;
		height: 20px;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		line-height: normal;
		background: #35589c;
	}
}
@media (max-width: 480px) {
	.duration {
		#durBanner {
			margin-left: -40%;
			left: 50%;
			width: 80%;
		}
	}
}
@media (max-width: 374px) {
	.duration {
		.durationOption.best::before {
			top: 12px;
		}
		.durationOption.best::after {
			top: 8px;
		}
	}
}


.table_heading {
	color: #35589c;
	font-size: 16px;
	margin: 30px 0 5px;
	font-weight: bold;
	padding-top: 9px;
}
.panel-title {
	color: #35589c !important;
	font-weight: normal;
}