@media (max-width: 2000px) and (min-width: 1120px) {
	.btn-group {

		width: 80%;
	}

	.login-page {
		width: 60%;
		margin: auto
	}

	.signup {
		width: 60%;
		margin: auto
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.main {
		padding: 0;
		width: 100%;
	}

	.main > .section {
		width: 100%;
		max-width: 98%;
	}

	.account-form .center .blue-btn {
		float: right;
	}

	.login-page {
		width: 60%;
		margin: auto
	}

	.signup {
		width: 60%;
		margin: auto
	}

	.payment-img > li {
		width: 20%;
		text-align: center;
		margin: 10px 0 0 0;
	}

	.paymentMethod {
		width: 70px;
		height: 70px;
		border: 2px solid #ccc;
	}

}

@media (max-width: 768px) {
	.img-responsive.timeline {
		height: 170px;
		width: auto !important;
	}

	.draw {
		padding: 0 !important
	}

	.lottery-mobile {
		width: 100%;
		float: left;
	}

	.timetodraw {
		float: left !important;
	}

	.list-inline.centered {
		width: 100%;
		margin: 3px 0 !important;
		font-size: 14px;
		text-align: center;
	}

	.lottery-mobile .pull-left {
		text-align: center;
		width: 100%;
	}

	.lottery-mobile .pull-left h1 {
		margin: 0px;
		font-size: 24px
	}

	.lottery-mobile .timetodraw {
		text-align: center;
		width: 100%;
	}

	.signup {
		width: 60%;
		margin: auto
	}

	.table.ticket.Active-table > div, .table.ticket.Active-table .table-inner {
		width: 100% !important;
	}

	.table.ticket .table-heading.game-type, .table.ticket .table-heading.Bet, .table.ticket .table-heading.LuckyNumber, .table.ticket .table-heading.Date, .table.ticket .table-heading.WinAmount, .table.ticket .table-heading.Lottary, .table.ticket .table-heading.Price {
		text-align: center;
		width: 20%;
	}

	.table.ticket .table-data.game-type, .table.ticket .table-data.Bet, .table.ticket .table-data.LuckyNumber, .table.ticket .table-data.Date, .table.ticket .table-data.WinAmount, .table.ticket .table-data.Lottary, .table.ticket .table-data.Price {
		width: 20%;

	}

	/*.table-heading { padding: 5px 0; } */

	.payment-img > li {
		width: 20%;
		text-align: center;
		margin: 10px 0 0 0;
	}

	.paymentMethod {
		width: 70px;
		height: 70px;
		border: 2px solid #ccc;
	}
}

@media (max-width: 699px) and (min-width: 479px) {
	.yourLotteryPicks td div.numbers {
		width: 190px;
	}
	.yourLotteryPicks td:nth-child(3) {
		white-space: nowrap;
	}
}

@media (max-width: 767px)  and (min-width: 500px) {
	.main {
		padding: 0;
		width: 100%;
	}
	.main > .section {
		width: 100%;
		max-width: 98%;
	}
	.account-form .center .blue-btn {
		float: right;
	}
	.login-page {
		width: 60%;
		margin: auto
	}
}

@media (max-width: 639px) {
	.table-data.Lottary .logo {
		float: left;
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 570px) and (min-width: 380px) {
	.login-page {
		width: 60%;
		margin: auto
	}
}

@media (max-width: 375px) {
	.hide-le480 { display: none; }
	footer ul li a { font-size: 11px;}
}
@media (max-width: 480px) and (min-width: 360px) {
	.login-page {
		width: 100%;
		margin: auto
	}
	#frmLogin2 #btnLogin2 {
		width: 242px !important;
		height: 30px;
	}
	.paymentMethod {
		width: 70px;
		height: 70px
	}
/*	.circle-active, .circle-no {
		width: 39px !important;
	}*/
}

@media (max-width: 570px) and (min-width: 380px) {
	.table.ticket.dashbord-table .blue-circle {
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
}

@media (max-width: 518px) {
	.table.ticket.Active-table > div, .table.ticket.Active-table .table-inner {
		width: 100% !important;
	}
	.table.ticket .table-heading.game-type, .table.ticket .table-heading.Bet, .table.ticket .table-heading.LuckyNumber, .table.ticket .table-heading.Date, .table.ticket .table-heading.WinAmount, .table.ticket .table-heading.Lottary, .table.ticket .table-heading.Price {
		text-align: center;
		width: 34%;
	}
	.table.ticket .table-data.game-type, .table.ticket .table-data.Bet, .table.ticket .table-data.LuckyNumber, .table.ticket .table-data.Date, .table.ticket .table-data.WinAmount, .table.ticket .table-data.Lottary, .table.ticket .table-data.Price {
		width: 34%;

	}
	/*.table-heading { padding: 5px 0; }*/
	.account-form .change-group .center {
		float: right;
	}
	.table.ticket.Active-table.invalid > div, .table.ticket.Active-table.invalid .table-inner {
		width: 170% !important
	}
	.table.ticket.Active-table.invalid .table-heading.Lottary, .table.ticket.Active-table.invalid .table-heading.LuckyNumber,
	.table.ticket.Active-table.invalid .table-heading.Date, .table.ticket.Active-table.invalid .table-heading.WinAmount {
		width: 25% !important;
	}
	.table.ticket.Active-table.invalid .table-inner .Lottary, .table.ticket.Active-table.invalid .table-inner .LuckyNumber,
	.table.ticket.Active-table.invalid .table-inner .Date, .table.ticket.Active-table.invalid .table-inner .WinAmount {
		width: 25% !important;
	}
	.winner .green-btn {
		width: 90%;
	}
}

@media (max-width: 499px) {
	.main {
		padding: 0;
		width: 98%;
	}
	.main > .section {
		width: 99%;
		max-width: 97%;
	}
	.check-text {
		font-size: 14px;
		padding-top: 12px !important;
	}
	.text-center {
		text-align: center;
		float: left;
		width: 100%;
	}
	.navbar-toggle {
		top: 17px;
	}
	.home_page .col-lg-8 .col-lg-6 {
		width: 100% !important;
	}
	.home_page .col-lg-8 .col-lg-6 ul {
		float: left !important;
		margin: 0 !important;
	}
	.yourLotteryPicks {
		font-size: 14px;
	}
	.circle-no {
		margin: 4px;
	}
	.profileImageContainer {
		width: 45px;
		height: 50px;
		margin: 9px 3px 3px 5px;
	}
	.timeLineWelcomeMessage {
		font-size: 14px;
		margin: 15px 0 0 57px;
	}
	.img-responsive.timeline {
		height: auto !important;
		width: 100% !important;
	}
	.signup {
		width: 100%;
		margin: auto
	}
	.circle-blue, .circle-gray, .circle-green {
		width: 24px;
		height: 24px;
	}
	.img-circle span {
		line-height: 24px;
	}
}

@media (max-width: 360px) {

	.account-form .change-group .blue-btn {
		float: left;
	}
	.account-form .change-group .blue-btn + .blue-btn {
		float: right;
	}
	.payment-img > li {
		width: 20%;
		text-align: center;
		margin: 10px 0 0 0;
	}
	.paymentMethod {
		width: 54px;
		height: 54px;
		border: 1px solid #ccc;
	}
	.paymentMethod.active {
		border: 2px solid #35589c;
	}
	.game_wrapper .not_available .not_available_msg {
		top: 10%;
	}
	.yourLotteryPicks td div.numbers {
		width: 90px;
	}
	.circle-blue, .circle-gray, .circle-green {
		width: 20px;
		height: 20px;
	}
	.img-circle span {
		line-height: 20px;
		font-size: 13px;
	}
	#yourLotteryPicksTable td {
		padding: 4px;
	}
}

@media (max-width: 349px) {
	.table.wallet .table-heading.Amount, .table.wallet .table-heading.Status, .table.wallet .table-data.Amount, .table.wallet .table-data.Status {
		/*line-height: 31px;*/
	}
}

.gotolottery:nth-child(even) { background-color: #ebebeb; }
@media (max-width: 330px) {
	.table.ticket.dashbord-table .table-heading.Date, .table.ticket.dashbord-table .table-heading.Lottary,
	.table.ticket.dashbord-table .table-heading.Price, .table.ticket.dashbord-table .table-heading.Jackpot {
		line-height: 31px
	}
	.gotolottery img { width: 87px; }
	.gotolottery h3 { font-size: 15px; }
}
@media (min-width: 768px) {
	.gotolottery td { padding: 0 10px; }
}

@media (max-width: 320px) {
	.account-sectonbox > a i {
		/*width: 20px;*/
	}
	a.white_tab i, .login-inner a i {
		/*width: 20px;*/
	}
	.login-inner a {
	}
	.cbp-spmenu-left.cbp-spmenu-open {
		width: 250px;
	}
	.circle-no {
		margin: 6px;
	}
	.label_fields {
		margin: 0;
	}
	.mobile-font {
		font-size: 14px;
	}
	.deposit_terms span {
		/*left: 0;*/
	}
	.deposit_terms label {
		/*margin-left: -30px;*/
	}
	.form-control {
		/*width: 210px !important;*/
	}
	#frmLogin2 .form-group {
		width: 255px;
		text-align: center;
	}
	#frmLogin2 #btnLogin2 {
		width: 242px !important;
		height: 30px;
	}
}