@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
		 url('../fonts/fontawesome-webfont.woff2') format('woff2'),
		 url('../fonts/fontawesome-webfont.woff') format('woff'),
		 url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		 url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-pencil:before {
	content: "\f040";
}

.ui-accordion-content-active a {
	padding-left: 30px !important;
	background-color: #E6E6E6 !important;
	font-size: 15px !important
}

/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
}
@media (max-height: 500px) {
	.cbp-spmenu { overflow-y: scroll; }
}

.cbp-spmenu h3 {
	color: #afdefa;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #3b599f !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr,
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0 !important
}

.ui-icon-triangle-1-e {
	background: rgba(0, 0, 0, 0) url("../img/right-arrow.png") no-repeat scroll 0 11px !important;
	float: right;
	height: 27px;
	width: 22px;
}

.ui-icon-triangle-1-e:before {
	content: "\f054";
}

.ui-icon-triangle-1-s {
	background: rgba(0, 0, 0, 0) url("../img/down-arrow.png") no-repeat scroll 0 11px !important;
	float: right;
	height: 27px;
	width: 22px;
}

.login {
	/*margin: 10px 0;*/
}

.login a {
	background: #F5AA19 !important;
	border: 1px solid #fff !important;
	color: #fff !important;
}


.quick_deposit {
	background: #009345 !important;
	border: 1px solid #fff !important;
	color: #fff !important;
}

.pull-right.admin-section > a {
	color: #777 !important;
	text-decoration: none;
	font-size: 17px;
}

.pull-right.admin-section > a:hover {
	background: none !important;
}

.cbp-spmenu a {
	display: block;
	color: #3B599F;
	font-size: 20px;
	font-weight: 300;
}

.cbp-spmenu a:hover, .account-sectonbox a:hover {
	background: #eee;/* #00632e;*/
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 250px;
	/* height: 100%; top: 0;*/
	top: 68px !important;
	bottom: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
/*	border-bottom: 2px solid #395A9F;*/
	padding: 10px;
	background: #fff;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -250px;
}

.cbp-spmenu-right {
	right: -250px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	padding: 0;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}
.modal-backdrop.nav {
	display: none;
	z-index:999;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

.quick_deposit span {
	display: none;
}

.quick_deposit.ui-state-default a, .quick_deposit.ui-state-default a:link, .quick_deposit.ui-state-default a:visited {
	color: #fff !important;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 250px;
}

.cbp-spmenu-push-toleft {
	left: -250px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*************************/
/*   Navigation Icons	*/
/*************************/

.sign-in {
	float: right;
}

.account-sectonbox > button {
	display: block;
	width: 100%;
	margin-bottom: 12px;
	text-align: right;
	color: #fff;
}
.account-sectonbox > button:hover {
	color: #ccc;
}
.account-sectonbox > a {
	background: #fff;
	border-bottom: 1px solid #ccc;
	color: #009345;
}

.account-sectonbox > a.white_tab {
	/*background: #fff;*/
	color: #3B599F;;
}

.account-sectonbox > a i {
	width: 27px;
}

a.white_tab i, .login-inner a i {
	width: 27px;
}

.nav-sectionbox {
	clear: both;
	display: table;
	width: 100%;
	margin: 5px 0;
	font-size: 14px !important;
}

.nav-sectionbox a {
	float: left;
	width: 45%;
	margin-right: 0;
	padding: 10px 0;
	text-align: center;
	white-space: nowrap;
	color: #fff;
	border: 1px solid #fff;
}

.nav-sectionbox a + a {
	float: right;
	margin-right: 0;
	width: 53%;
}

.nav-sectionbox a.dashboard_link {
	background-color: #f5aa19;
}

.arrow-down {
	float: right;
}

.logout {
	padding-left: 10px;
}

.login-inner a {
	background: #eee;
	border-bottom: 1px solid #ccc;
}

.login-inner a:hover {
	background: #fff;
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em) {

	.cbp-spmenu-vertical {
		font-size: 90%;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.lotteries-inner {
	border-bottom: 1px solid #ccc;
}
.logo-ball {
	margin-right: 15px;
}
.see-all {
	margin-right: 15px;
}
.lotto-name {
	display: inline-block;
	height: 15px;
	vertical-align: middle;
}
#cbp-spmenu-s1 {
	overflow: auto !important;
}

#loading-overlay {
	background-position: center 200px;

	#fyi-random-fact {
		margin: 250px auto;
		padding: 20px;
		width: 300px;
		height: auto;
		background-color: white;
		font-size: 18px;
		box-shadow: 4px 4px 12px 4px #999;
		border-radius: 5px;
		text-align: center;
		font-weight: normal;

		#fyi {
			font-weight: bold;
			color: #35589c;
			margin-bottom: 10px;
		}

		#random-fact {
			font-weight: normal;
		}
	}
}

/* Icon Panding tickets */
.icon-wrap{
	overflow: visible !important;
	position: absolute;
	right: 0;
	top: 3px;
	z-index: 1;
}
.ticket-animation{
	animation: animationFrames ease 3s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: animationFrames ease 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation: animationFrames ease 3s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation: animationFrames ease 3s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation: animationFrames ease 3s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
}
.redcircle-animation{
	animation: animationFrames linear 1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames linear 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFrames linear 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFrames linear 1s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFrames linear 1s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
#rectangle {
	width: 29px;
	height: 45px;
	background: #35589c;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	opacity: 0.999;
	border-radius: 4px;
	padding: 10px 0;
}
.circle{
	width: 5px;
	height: 5px;
	background-color: #fff;
	float: left;
	border-radius: 2px;
	margin: 1px 1px;
}
@keyframes animationFrames{
	0% {
		transform:  rotate(0deg) ;
	}
	8% {
		transform:  rotate(30deg) ;
	}
	17% {
		transform:  rotate(10deg) ;
	}
	25% {
		transform:  rotate(14deg) ;
	}
	25% {
		transform:  rotate(14deg) ;
	}
	33% {
		transform:  rotate(12deg) ;
	}
	67% {
		transform:  rotate(12deg) ;
	}
	75% {
		transform:  rotate(16deg) ;
	}
	83% {
		transform:  rotate(12deg) ;
	}
	91% {
		transform:  rotate(30deg) ;
	}
	100% {
		transform:  rotate(0deg) ;
	}
}

@-moz-keyframes animationFrames{
	0% {
		-moz-transform:  rotate(0deg) ;
	}
	8% {
		-moz-transform:  rotate(30deg) ;
	}
	17% {
		-moz-transform:  rotate(10deg) ;
	}
	25% {
		-moz-transform:  rotate(14deg) ;
	}
	25% {
		-moz-transform:  rotate(14deg) ;
	}
	33% {
		-moz-transform:  rotate(12deg) ;
	}
	67% {
		-moz-transform:  rotate(12deg) ;
	}
	75% {
		-moz-transform:  rotate(16deg) ;
	}
	83% {
		-moz-transform:  rotate(12deg) ;
	}
	91% {
		-moz-transform:  rotate(30deg) ;
	}
	100% {
		-moz-transform:  rotate(0deg) ;
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform:  rotate(0deg) ;
	}
	8% {
		-webkit-transform:  rotate(30deg) ;
	}
	17% {
		-webkit-transform:  rotate(10deg) ;
	}
	25% {
		-webkit-transform:  rotate(14deg) ;
	}
	25% {
		-webkit-transform:  rotate(14deg) ;
	}
	33% {
		-webkit-transform:  rotate(12deg) ;
	}
	67% {
		-webkit-transform:  rotate(12deg) ;
	}
	75% {
		-webkit-transform:  rotate(16deg) ;
	}
	83% {
		-webkit-transform:  rotate(12deg) ;
	}
	91% {
		-webkit-transform:  rotate(30deg) ;
	}
	100% {
		-webkit-transform:  rotate(0deg) ;
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform:  rotate(0deg) ;
	}
	8% {
		-o-transform:  rotate(30deg) ;
	}
	17% {
		-o-transform:  rotate(10deg) ;
	}
	25% {
		-o-transform:  rotate(14deg) ;
	}
	25% {
		-o-transform:  rotate(14deg) ;
	}
	33% {
		-o-transform:  rotate(12deg) ;
	}
	67% {
		-o-transform:  rotate(12deg) ;
	}
	75% {
		-o-transform:  rotate(16deg) ;
	}
	83% {
		-o-transform:  rotate(12deg) ;
	}
	91% {
		-o-transform:  rotate(30deg) ;
	}
	100% {
		-o-transform:  rotate(0deg) ;
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform:  rotate(0deg) ;
	}
	8% {
		-ms-transform:  rotate(30deg) ;
	}
	17% {
		-ms-transform:  rotate(10deg) ;
	}
	25% {
		-ms-transform:  rotate(14deg) ;
	}
	25% {
		-ms-transform:  rotate(14deg) ;
	}
	33% {
		-ms-transform:  rotate(12deg) ;
	}
	67% {
		-ms-transform:  rotate(12deg) ;
	}
	75% {
		-ms-transform:  rotate(16deg) ;
	}
	83% {
		-ms-transform:  rotate(12deg) ;
	}
	91% {
		-ms-transform:  rotate(30deg) ;
	}
	100% {
		-ms-transform:  rotate(0deg) ;
	}
}
.reddot-animation{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: red;
	animation: reddotanimationFrames linear 1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: reddotanimationFrames linear 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: reddotanimationFrames linear 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: reddotanimationFrames linear 1s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: reddotanimationFrames linear 1s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
#reddot{
	display: block;
	width: 24px;
	height: 24px;
	background: #ff0034;
	position: absolute;
	left: 12px;
	top: -7px;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	opacity: 0.999;
	border-radius: 24px;
	z-index: 1;
	border: 2px solid #fff;
	text-align: center;
	color: #fff;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
}

@keyframes reddotanimationFrames{
	0% {
		opacity:0;
		transform:  translate(0px,120px)  ;
	}
	59% {
		opacity:0;
		transform:  translate(0px,28px)  ;
	}
	67% {
		opacity:1;
		transform:  translate(0px,0px)  ;
	}
	74% {
		transform:  translate(0px,5px)  ;
	}
	83% {
		transform:  translate(0px,-5px)  ;
	}
	90% {
		transform:  translate(0px,0px)  ;
	}
	100% {
		opacity:1;
		transform:  translate(0px,0px)  ;
	}
}

@-moz-keyframes reddotanimationFrames{
	0% {
		opacity:0;
		-moz-transform:  translate(0px,120px)  ;
	}
	59% {
		opacity:0;
		-moz-transform:  translate(0px,28px)  ;
	}
	67% {
		opacity:1;
		-moz-transform:  translate(0px,0px)  ;
	}
	74% {
		-moz-transform:  translate(0px,5px)  ;
	}
	83% {
		-moz-transform:  translate(0px,-5px)  ;
	}
	90% {
		-moz-transform:  translate(0px,0px)  ;
	}
	100% {
		opacity:1;
		-moz-transform:  translate(0px,0px)  ;
	}
}

@-webkit-keyframes reddotanimationFrames {
	0% {
		opacity:0;
		-webkit-transform:  translate(0px,120px)  ;
	}
	59% {
		opacity:0;
		-webkit-transform:  translate(0px,28px)  ;
	}
	67% {
		opacity:1;
		-webkit-transform:  translate(0px,0px)  ;
	}
	74% {
		-webkit-transform:  translate(0px,5px)  ;
	}
	83% {
		-webkit-transform:  translate(0px,-5px)  ;
	}
	90% {
		-webkit-transform:  translate(0px,0px)  ;
	}
	100% {
		opacity:1;
		-webkit-transform:  translate(0px,0px)  ;
	}
}

@-o-keyframes reddotanimationFrames {
	0% {
		opacity:0;
		-o-transform:  translate(0px,120px)  ;
	}
	59% {
		opacity:0;
		-o-transform:  translate(0px,28px)  ;
	}
	67% {
		opacity:1;
		-o-transform:  translate(0px,0px)  ;
	}
	74% {
		-o-transform:  translate(0px,5px)  ;
	}
	83% {
		-o-transform:  translate(0px,-5px)  ;
	}
	90% {
		-o-transform:  translate(0px,0px)  ;
	}
	100% {
		opacity:1;
		-o-transform:  translate(0px,0px)  ;
	}
}

@-ms-keyframes reddotanimationFrames {
	0% {
		opacity:0;
		-ms-transform:  translate(0px,120px)  ;
	}
	59% {
		opacity:0;
		-ms-transform:  translate(0px,28px)  ;
	}
	67% {
		opacity:1;
		-ms-transform:  translate(0px,0px)  ;
	}
	74% {
		-ms-transform:  translate(0px,5px)  ;
	}
	83% {
		-ms-transform:  translate(0px,-5px)  ;
	}
	90% {
		-ms-transform:  translate(0px,0px)  ;
	}
	100% {
		opacity:1;
		-ms-transform:  translate(0px,0px)  ;
	}
}
/* Icon Panding tickets */