.select-style sjelect:focus,
:focus {
	outline: 0
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: sans-serif, arial;
	font-size: 100%;
}
html { padding-bottom: 10px; }
h3 { font-size:18px; }
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bold { font-weight: bold; }
.hidden {
	display: none !important;
	visibility: hidden !important;
}

#checkout {
	display: none
}

.bookmark_div,
.center,
.navbar-toggle,
.overlay > div,
.select-box .logo-dec,
.white-circle span,
footer ul, footer ul li {
	text-align: center
}

.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active {
	background: 0 0 !important
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

a {
	text-decoration: none
}

.forgot-password a,
footer ul li a:hover {
	text-decoration: underline
}

.overlay {
	background: rgba(0, 0, 0, .8);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2;
	display: none
}

.close_overlay {
	cursor: pointer;
	position: absolute;
	right: 6px;
	width: 30px;
	top: 10px
}

.overlay > div {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 35%;
	width: 250px;
	padding: 10px
}

.bookmark_div {
	margin: 10px;
	width: 100%;
	cursor: pointer
}

.main,
.main > .section {
	width: 90%;
	margin: 0 auto
}

.main {
	max-width: 69em
}

header {
	margin: 0 0 5px;
	position: relative;
	padding-top: 15px
}

.green-btn,
.yellow-btn {
	margin: 6px;
	color: #fff;
	font-weight: 700;
	letter-spacing: .9px;
	cursor: pointer
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

.white {
	color: #fff
}

.font11 {
	font-size: 16px
}

.yellow-btn {
	background-color: #f5aa19;
	border: 2px solid #fff;
	border-radius: 0;
	padding: 0 5px
}

.green-btn {
	background-color: #009345;
	border: none;
	border-radius: 0;
	padding: 6px 0;
	width: 110px;
	font-size: .9em;
}

h5,
p {
	font-size: 16px
}

.blue-btn {
	background-color: #3A599C;
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
	font-size: .9em;
	font-weight: 700;
	letter-spacing: .9px;
	padding: 0 5px;
	cursor: pointer
}

.orange_hover_effect {
	background-color: #f5aa19 !important
}

.green_hover_effect {
	background-color: #009345
}

.padding10 {
	padding: 10px
}

.padding5 {
	padding: 5px
}

.orange {
	color: #f85c37
}

.orange:focus,
.orange:hover {
	color: #7b7b7b
}

.blue-background {
	background-color: #35589C;
	float: left;
	width: 100%;
	color: #fff;
	padding: 7px
}

.white-circle {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin: 5px 4px;
	vertical-align: middle;
	background: #fff;
	border-radius: 20px;
	cursor: pointer
}

.white-circle span {
	line-height: 29px;
	vertical-align: middle;
	display: block;
	color: #000
}

.black-circle,
.red-circle {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 5px 0px;
	padding: 4px;
	vertical-align: middle;
	border-radius: 20px;

	@media screen and (min-width: 768px) {
		width: 29px;
		height: 29px;
		margin: 5px 4px;
		padding: 5px;
	}
}

.centered {
	text-align: center;
}

#show_lottery_page {
	width: 135px;
}

#show_lottery_page .shine {
	margin-left: -60px;
	padding-left: 113px;
	width: 300px;
}

.blue-background > div {
	padding: 0 5px
}

.red-circle {
	background: #E6002F
}

.black-circle {
	background: #3D3D3D
}

h3,
p {
	margin: 10px
}

h5 {
	margin: 10px 0 0
}

.blue {
	color: #35589c
}

.red {
	color: #e60030
}

.yellow {
	color: #f5aa19
}

p, li {
	letter-spacing: 1px;
}

#msection ul {
	margin: 10px;
	padding: 15px
}


.hdrlogo {
	display: inline-block; /*margin-left: 50px;*/
}

.navbar-checkout {
	background: url(/img/icon-ticket.gif?1) left bottom no-repeat;
	//background-size: contain;
	border: 0;
	cursor: pointer;
	height: 53px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 38px;
}
.navbar-checkout span {
	//background: #35589c;
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 17px;
	height: 22px;
	line-height: 22px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 1px;
	width: 22px;
}


.navbar-toggle {
	position: absolute;	left: 0;
	z-index: 1001;
	background: #3b599f;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	height: 40px;
	top: 20px;
	width: 40px;
	color: #fff;
}
.navbar-toggle.active {
	position: fixed;
	left: 8px;
	animation: navbar-toggle-color .5s;
}
@keyframes navbar-toggle-color {
	10% {color: #3b599f;}
}
/*@media (min-width: 375px) { .navbar-toggle.active { left: 9px; } }*/

.navbar-toggle i {
	margin-left: -1px;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 32px;
	height: 2px;
	background-color: #fff;
	border-radius: 1px;
	margin: 5px 0;
}

/* SELECT LOTTERY, featured_lotteries.php */
.select-style {
	background: url(../img/drop-down-arrow.png) 100% 50% no-repeat #35589c;
	height: 65px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.select-box {
	float: left;
	width: 100%;
	height: 65px;
	margin-bottom: 4px;
}
.drop-downbox {
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 198px;
	right: 0;
	top: 66px;
	overflow-y: scroll;
	background: #ddd;
	border-bottom:1px solid #fff;
	box-shadow: 0 2px 3px #555;
}
.drop-downbox > div {
	float: left;
	padding: 0;
	width: 100%;
	height: 66px;
	border-bottom: 1px solid #fff;
	background: #666;
}
.drop-downbox > div:hover { background: #35589c; }

.select-box .logo-dec,
.drop-downbox .logo-dec {
	/*display:inline-block;*/
	float: left;
	line-height: 15px;
	position: relative;
	overflow: hidden;
	width: 49%;
	height: 65px;
	background: #ddd;
	font-size: 1em !important;
	text-align: center;
	white-space: nowrap;
	color: #3b599f;
}
.select-box .logo-dec img,
.drop-downbox .logo-dec img {
	margin-top: 4px;
	float: none !important;
	padding: 0 !important;
	width: 90px !important;
	height: 37px !important;
}
.select-box .jp-dec,
.drop-downbox .jp-dec {
	display:inline-block;
	position: relative;
	overflow: hidden;
	width: 49%;
	height: 65px;
	color: #fff;
}
.jp-dec i {
	display: block;
	position: absolute;
	left: 5px;
	top: 10px;
	font-size: 20px;
	font-weight: bold;
}
.jp-dec span {
	display: block;
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding-left: 25px;
	font-size: 13px;
	line-height: 20px;
	background: url(../img/clock1.png) left top no-repeat;
	color: #fff;
}

#viewMoreDiv img.icon {
	float: right;
	margin: 0 0 10px 10px;
	width: 60px;
	height: 60px;
	background:url(/img/aboutlottery-sprite.jpg) left top no-repeat;
	background-size: cover;
}
#viewMoreDiv img.prize { background-position: -60px top; }
#viewMoreDiv img.facts { background-position: -120px top; }
#viewMoreDiv img.results { background-position: -180px top; }
.prizesbreakdown table {
	width: 100% !important;
	max-width: 500px;
	border-collapse: collapse;
	border: 1px solid #ddd;
    table-layout: fixed;
}
.prizesbreakdown table tbody {
    display: block;
    overflow: scroll;
}
.prizesbreakdown table tr:first-child td {
	background: #35589c;
	color: #fff;
	border-color: #fff;
}
.prizesbreakdown table tr:nth-child(even) td {
	background: #f7f7f7;
}
.prizesbreakdown table td { padding: 5px; }


.blue-header span,
.green-header span,
.yellow-header span {
	padding: 10px 5px;
	display: inline-block;
	font-weight: 700
}
.green-header {
	background-color: #009345;
	float: left;
	margin: 0 0 5px;
	width: 100%
}
.blue-header {
	background-color: #3A599C;
	float: left;
	margin: 15px 0 5px;
	width: 100%
}
.yellow-header {
	background-color: #F5AA19;
	width: 100%;
	float: left;
	margin: 0 0 5px
}

.btn-group {
	bottom: -10px;
	float: left;
	position: fixed;
	width: 98%
}

.btn-group .green-btn,
.btn-group .yellow-btn {
	margin: 10px 0;
	padding: 10px
}


footer {
	float: left;
/*	position: fixed;*/
/*	margin-bottom: 50px;*/
	left: 0;
	bottom: 0;
	background-color: #3B599F;
	width: 100%;
	border-top: 1px solid #fff;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0
}

footer ul li {
	display: inline
}

.faq .ui-accordion-content,
.privacy-policy .ui-accordion-content {
	height: auto !important;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 20px
}

footer ul li a {
	display: inline-block;
	padding: 6px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0px;
}

.site-map {
	margin: 10px 0 20px
}

.site-map > a {
	color: #35589c;
	display: block;
	font-size: 16px;
	margin: 10px 0;
	width: 100%
}

.faq .ui-accordion-header span,
.privacy-policy .ui-accordion-header span {
	display: none
}

.privacy-policy ul {
	margin: 0;
	padding: 0
}

.privacy-policy .ui-accordion-header {
	background: #35589c !important;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 5px;
	cursor: pointer
}

.privacy-policy ul li {
	line-height: 20px
}

.privacy-policy .ui-accordion-content {
	border: none !important;
	font-size: 14px;
	margin: 10px 0
}

.faq h3 {
	font-weight: normal;
}
.faq h5 {
	margin-bottom: 15px
}

.faq .ui-widget-content a {
	color: #f85c37;
	padding: 0 !important;
	background: 0 0 !important
}

.faq .ui-accordion-header {
	background: #f5f5f5 !important;
	border: 1px solid #ddd !important;
	color: #333;
	font-size: 16px;
	padding: 5px;
	cursor: pointer;
	margin: 5px 0 0
}

.faq .ui-accordion-content {
	border: 1px solid #ddd !important;
	font-size: 16px;
	margin: 0;
	padding: 5px 5px 5px 10px
}

.table_ticket .LuckyNumber,
.table_ticket tr.TicketData {
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7
}

.logo-dec a h3,
.table-data.Lottary .logo,
.table-heading,
.table.result .table-data.Date,
.table.result .table-data.Lottary,
.table.winner .table-data.Date,
.table.winner .table-data.Lottary,
.table.winner .table-data.Winner {
	text-align: center
}
.logo-dec h1 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	/* color: #3b599f; */
}


/* wallet page tables */
.tablescrollwrap {
	width: 100%;
	height: auto;
	overflow-x: scroll;
	overflow-y: visible;
}
.twallet {
	width: 100%;
	border-spacing: 0;
	font-size: 14px;
}
.twallet tr:nth-child(odd) {
	background-color: #eee;
}
.twallet th{
	padding: 5px 10px;
	background-color: #3a599c;
	color: #fff;
	text-align: center;
	white-space: nowrap;
}
.twallet td {
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
}





.table {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%
}

.table-heading {
	width: 33.3%;
	padding: 5px 10px;
	background-color: #3a599c;
	color: #fff;
	float: left;
	font-size: 13px;
}

.table-data {
	float: left;
	width: 33.3%;
	padding: 5px 0;
}

.table-heading.Lottary,
.table-heading.Result {
	width: 35%
}

.table-heading.Date {
	width: 30%
}

.table-data.Lottary,
.table-data.Result {
	width: 37%
}

.table-data.Date {
	width: 25%
}

.table-data.Lottary .logo {
	float: left;
	width: 50%
}

.table_ticket {
	border-collapse: collapse;
	border-spacing: 1px
}

.table_ticket tr th {
	color: #fff;
	/*font-size: 13px;*/
	padding: 5px 10px
}

.table_ticket tr {
	padding: 5px 10px
}

.table_ticket tr.TicketData {
	background: #e6e6e6
}

.table_ticket tr td {
	padding: 5px 7px
}

.table_ticket tr td.Date {
	min-width: 75px
}

.table_ticket .LuckyNumber {
	width: 100%;
	text-align: center;
	border-bottom: 1px double #c7c7c7;
	padding: 7px 0;
	background: #f2f8fb
}

.logo-dec {
	/*width: 100%*/
	padding: 5px;
	font-size: .95em;
	text-align: left;
}

.logo-dec img.logo {
	float: left;
	padding: 2px;
	width: 90px
}

.logo-dec a h3 {
	color: #3a599c;
	font-weight: 400;
	vertical-align: top;
	margin: 0;
	float: left
}

.select_game {
	float: left;
	text-align: left;
	text-indent: 3px;
	font-size: 15px;
	font-weight: 700;
	color: #3b599f
}

.table-data.Date {
	font-size: 14px;
	color: #3A599C
}

.table-data.Result .black-circle,
.table-data.Result .red-circle {
	width: 24px;
	height: 24px;
	margin: 1px;
	padding: 0;
}

.table-data.Result .black-circle span,
.table-data.Result .red-circle span {
	display: block;
	font-size: 16px;
	line-height: 24px;
	text-align: center
}

.table .table-inner {
	float: left;
	background-color: #e6e6e6
}

.table-inner:nth-child(even) {
	float: left;
	background-color: #fff
}

.table-inner:nth-child(odd) {
	background-color: #E2E2E2;
	float: left
}

.account-form select,
textarea {
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset
}

.winner .table-heading.Lottary {
	width: 36%
}

.winner .table-heading.Amount,
.winner .table-heading.Date,
.winner .table-heading.Winner {
	width: 21%
}

.winner .table-data.Lottary {
	width: 36%
}

.winner .table-data.Amount,
.winner .table-data.Date,
.winner .table-data.Winner {
	width: 21%;
	color: #3a599c;
	font-size: 14px;
	word-wrap: break-word
}

.winner .table-inner {
	width: 99%
}

.row {
	float: left;
	margin: 5px 0;
	width: 100%
}

label {
	float: left;
	margin-left: 7px;
	/*margin-bottom: 5px;
	width: 100%;*/
	font-size: 13px
}

#frmAccountAdd label {
	float: none
}

.change-group button,
.dashbord,
textarea {
	float: left
}

textarea {
	border: 1px solid #ccc;
	height: 50px;
	width: 100%;
	color: #555
}

.forgot-password  {
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
}
.forgot-password a {
	font-size: 12px;
	line-height: 25px;
	color: #f85c37;
	text-align: center
}

.register-now {
	float: left;
	margin: 20px 0 10px 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
.register-now h6 {
	font-size:16px;
	margin:0;
}
.register-now input {
	margin-top: 15px !important;
}

.banner {
	margin-bottom: 10px
}

.account-form select {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 35px;
	color: #555
}

.ticket .table-heading,
.wallet .table-heading {
	font-size:14px;
	/*background-color: #333*/
}

.table.ticket,
.table.wallet {
	margin-bottom: 10px;
	margin-top: 10px;
	overflow-x: scroll;
	padding-bottom: 10px;
	width: 100% !important
}

.table.ticket .game-type span {
	padding-right: 20px
}

.table.ticket .game-type span + span {
	padding-right: 0
}

.table.ticket .table-heading.sr-no {
	width: 50px;
	min-height: 26px
}

.table.ticket .table-heading.Bet,
.table.ticket .table-heading.Date,
.table.ticket .table-heading.Lottary,
.table.ticket .table-heading.LuckyNumber,
.table.ticket .table-heading.Price,
.table.ticket .table-heading.WinAmount,
.table.ticket .table-heading.game-type {
	width: 20%;
	text-align: center
}

.table.ticket.Active-table .table-data.Date,
.table.ticket.Active-table .table-data.Price,
.table.ticket.Active-table .table-data.WinAmount,
.table.ticket.Active-table .table-heading.Date,
.table.ticket.Active-table .table-heading.Price,
.table.ticket.Active-table .table-heading.WinAmount {
	width: 16.6%
}

.table.ticket.dashbord-table .table-heading.Jackpot,
.table.ticket.dashbord-table .table-heading.WinAmount,
.table.ticket.dashbord-table .table-heading.game-type,
.table.ticket.dashbord-table.table-heading.Bet {
	width: 20% !important;
	text-align: center
}

.table.ticket.dashbord-table .table-heading.Date,
.table.ticket.dashbord-table .table-heading.Jackpot,
.table.ticket.dashbord-table .table-heading.Lottary,
.table.ticket.dashbord-table .table-heading.Price {
	width: 13.6% !important;
	text-align: center
}

.table.ticket.dashbord-table .table-data.LuckyNumber,
.table.ticket.dashbord-table .table-heading.LuckyNumber {
	width: 30% !important;
	text-align: center
}

.table.ticket.dashbord-table .table-data.Price,
.table.ticket.dashbord-table .table-heading.Price {
	width: 10%;
	text-align: center
}

.table.ticket.dashbord-table .table-data.Date,
.table.ticket.dashbord-table .table-heading.Date {
	width: 15% !important;
	text-align: center
}

.table.ticket.dashbord-table .table-data.Bet,
.table.ticket.dashbord-table .table-data.Jackpot,
.table.ticket.dashbord-table .table-data.game-type {
	width: 20% !important
}

.table.ticket .table-inner {
	width: 318% !important
}

.table.ticket .table-data.sr-no {
	width: 50px
}

.table.ticket .table-data.Bet,
.table.ticket .table-data.Date,
.table.ticket .table-data.Lottary,
.table.ticket .table-data.LuckyNumber,
.table.ticket .table-data.Price,
.table.ticket .table-data.WinAmount,
.table.ticket .table-data.game-type {
	width: 20%;
	text-align: center;
	color: #000;
	font-size: 14px;
	word-wrap: break-word
}

.current-balance {
	float: right;
	width: auto;
	margin: 10px 0 0
}

.current-balance span {
	padding: 5px;
	font-size: 13px
}

.table.wallet .table-data.Amount,
.table.wallet .table-data.Status,
.table.wallet .table-heading.Amount,
.table.wallet .table-heading.Status {
	text-align: center
}

.table.wallet .table-data.DepositDate,
.table.wallet .table-heading.DepositDate {
	width: 16.5%;
	text-align: center
}

.table.wallet .table-data {
	color: #3a599c;
	font-size: 14px;
	word-wrap: break-word
}

/*.table.wallet > div { width: 170% }*/
.editAccount {
	position: absolute;
	right: 10px; top: 3px;
}
@media (max-width: 349px) {
	.editAccount {
		position: relative;
		right: 0; top: 0;
		margin: -6px 0 6px 0;
		text-align: right;
	}
}
.editAccount a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	color: #35589c
}


.dashbord {
	width: 100%;
	background-color: #E6E6E6;
	margin-bottom: 10px
}

.dashbord .left-section,
.dashbord .right-section {
	padding: 0 10px;
	width: 49%;
	color: #3a599c;
	font-size: 14px;
	word-wrap: break-word;
	float: left
}

.dashbord-table .table-data.Jackpot,
.dashbord-table .table-data.Price {
	text-align: center;
	float: left;
	color: #3a599c;
	font-size: 14px;
	word-wrap: break-word
}

.table.ticket.dashbord-table > div {
	width: 170% !important
}

#paymentFields .form-control,
.grey-background,
.table.result .table-inner,
.waring-msg {
	width: 100%
}

.waring-msg {
	background-color: #ffe8f3;
	border: 1px solid #ff443f;
	border-radius: 5px;
	float: left;
	margin-bottom: 10px
}

.waring-msg p {
	color: #FF443F;
	padding: 5px
}

.black-background {
	background-color: #333;
	height: 30px;
	float: left;
	width: 100%
}

.grey-background {
	float: left;
	background-color: #E6E6E6;
	padding: 0 10px;
	margin-bottom: 10px
}

.light-blue-background {
	background-color: #f2f8fb
}

.deposit_terms {
	text-align: center;
	position: relative;
	margin: 15px auto;
	font-size: 15px;
}

.deposit_terms a.terms_link {
	color: #000;
	text-decoration: underline
}

.deposit_terms label {
	font-weight: 400;
	float: none;
	cursor: pointer
}

.deposit_terms span {
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	/*left: 20px;*/
	margin-left: -30px;
	top: 0;
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #e2e2e2 0, #fefefe 100%);
	background: -webkit-linear-gradient(top, #e2e2e2 0, #fefefe 100%);
	background: linear-gradient(to bottom, #e2e2e2 0, #fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
	border: 1px solid #c1c1c1
}

.deposit_terms span:after {
	content: '';
	width: 13px;
	height: 7px;
	position: absolute;
	top: 4px;
	left: 3px;
	border: 3px solid #009345;
	border-top: 0;
	border-right: 0;
	background: 0 0;
	opacity: 0;
	transform: rotate(-55deg)
}

.deposit_terms span:hover::after {
	opacity: .3
}

.deposit_terms:hover span::after {
	opacity: 0
}

.deposit_terms input[type=checkbox] {
	visibility: hidden;
	width: 32px;
	display: inline-block
}

.deposit_terms input[type=checkbox]:checked + label span:after {
	opacity: 1
}

.transaction_note {
	font-size: 12px;
	padding: 10px 0;
	display: block
}

.payment-img {
	list-style: none;
	padding: 0;
	margin: 0
}

.payment-img > li {
	display: inline-block;
	padding: 0;
	width: 50%
}

.label_fields {
	display: table;
	float: left;
	line-height: 18px;
}

.margin15 {
	margin-bottom: 15px
}


.green {
	color: #019245 !important
}

.table.ticket.Active-table .table-inner,
.table.ticket.Active-table.invalid .table-inner,
.table.ticket.Active-table.invalid > div,
.table.ticket.Active-table > div {
	width: 110% !important
}

.table.ticket.Active-table .table-heading.LuckyNumber,
.table.ticket.Active-table .table-inner .table-data.LuckyNumber {
	width: 100% !important;
	text-align: center;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px double #b7b7b7;
	padding: 7px 0;
	background: #f2f8fb
}

.table.ticket.Active-table .table-heading.Date,
.table.ticket.Active-table .table-inner .table-data.Date {
	width: 16% !important
}

.table.ticket.Active-table.invalid .table-heading.Date,
.table.ticket.Active-table.invalid .table-heading.Lottary,
.table.ticket.Active-table.invalid .table-heading.LuckyNumber,
.table.ticket.Active-table.invalid .table-heading.WinAmount,
.table.ticket.Active-table.invalid .table-inner .Date,
.table.ticket.Active-table.invalid .table-inner .Lottary,
.table.ticket.Active-table.invalid .table-inner .LuckyNumber,
.table.ticket.Active-table.invalid .table-inner .WinAmount {
	width: 25% !important
}

.slider-img img {
	max-width: 100%;
	width: 80%;
	margin: 9%;
	display: block
}
.slider-des .blue-circle {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	background-color: #3a599c;
	border-radius: 30px;
	color: #fff;
}

/* How to Play/Fund pages*/

#how-to-menu {
	width: 100%;
	height: 30px;
	background-color: #3a599c;
	padding: 5px 15px;
}
#how-to-menu ul {
	margin: 0;
	padding: 0;
}
#how-to-menu ul li {
	float: left;
	list-style-type: none;
	margin: 1px 0;
	color: white;
}
.how-to-menu-item {
	width: 49%;
	text-align: center;
}
#how-to-menu ul li.active {
	text-decoration: underline;
}
#how-to-menu ul li a {
	color: white;
}

.howtoplayheading {
	display: table-cell;
	padding-left: 5px;
	padding-right: 20px;
	height: 30px;
	vertical-align: middle;
	font-weight: 700;
	font-size: 1.2em;
}

.slider-des {
	float: left;
	margin: 10px 0;
	width: 100%
}

.selected-flag {
	height: 100%;
	padding: 0 0 0 8px;
	position: relative;
	width: 42px;
	z-index: 1
}

.selected-flag .iti-flag {
	bottom: 0;
	margin: auto;
	position: absolute;
	top: 0;
	cursor: pointer
}

.iti-flag.in {
	background-position: -2413px 0;
	height: 14px;
	margin-top: 9px
}

.iti-flag {
	background-color: #dbdbdb;
	background-image: url(../img/flags.png);
	background-position: 20px 0;
	background-repeat: no-repeat;
	box-shadow: 0 0 1px 0 #888;
	height: 15px;
	width: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 5px
}

.selected-flag .arrow {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #555;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 4px;
	top: 50%;
	width: 0
}

.image-dropdown {
	position: relative
}

.Number {
	padding-left: 45px
}

.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .flag {
	margin-right: 6px
}

.flag-dropdown-inner {
	background-color: #fff;
	padding: 10px 5px;
	cursor: pointer
}

.flag-dropdown-inner:active,
.flag-dropdown-inner:hover {
	background-color: #ccc
}

.flag-dropdown-inner span {
	color: #555
}

.flag-dropdown-submenu {
	position: absolute;
	top: 35px;
	border: 1px solid #ccc;
	width: 100%;
	height: 160px;
	overflow-y: scroll
}

.dn {
	display: none
}

.tbl-heading {
	background: #333;
	border-bottom: medium none;
	border-right: 1px solid #fff;
	color: #fff;
	font-weight: 400
}

#confirm_total,
#regular_picks,
.draw,
.draw-time,
.lottery-title,
.no-data {
	font-weight: 700
}
#extra_picks {
	padding: 18px 0 0 18px;
	font-weight: bold;
	color: #fff;
}

.help {
	background-color: #e2f7d9;
	border-color: #68bc47;
	color: #68bc47
}

.table-data.Status.status-Open {
	color: #35589C
}

.table-data.Status.status-Paid {
	color: #019245
}

.table-data.Status.status-Cancelled {
	color: red
}

.no-data {
	font-style: italic;
	padding: 10px 0;
	text-align: center
}

.timeLineWelcomeMessage {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	margin: 40px 0 0 139px;
	position: absolute;
	text-shadow: 1px 1px 4px #000;
	z-index: 9
}

.profileImageContainer {
	background: #fff;
	border: 1px solid #ccc;
	height: 115px;
	margin: 28px 3px 3px 17px;
	padding: 3px;
	position: absolute;
	width: 109px
}

.profileImage,
.profileImage img {
	height: 100%;
	width: 100%
}

.profileImage {
	overflow: hidden
}

table {
	display: table !important
}

.editProfileImage,
.editTimelineImage {
	color: #ccc;
	display: none;
	position: absolute;
	z-index: 9;
	cursor: pointer
}

.editTimelineImage {
	margin: 1px 105px 105px 4px
}

.editProfileImage {
	margin: 34px 105px 105px 24px
}

.fa,
.glyphicon {
	display: inline-block;
	font-style: normal
}

.form-control.error {
	border: 1px solid red
}

.alert.alert-success {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847
}

.alert-danger {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #B94A48
}

button.close {
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none
}

.draw {
	padding: 0 10px !important;
	background: #009345;
	color: #fff
}

.draw-time {
	padding: 0 !important;
	background: #fff;
	color: #35589c;
	margin: 10px 0
}

.list-inline,
.list-unstyled {
	padding-left: 0;
	list-style: none
}

.paymentMethod.active {
	border: 4px solid #35589c;
	box-shadow: 0 3px 9px #000;
	border-radius: 50%
}

.paymentMethod {
	border: 4px solid #ccc;
	cursor: pointer;
	border-radius: 50%
}

.error-msg,
.success-msg {
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	text-align: center
}

.error-msg {
	color: #D8000C;
	background-color: #FFBABA
}

.success-msg {
	color: #4F8A10;
	background-color: #DFF2BF
}

.Lottary .logo img {
	float: left;
	width: 90px
}

.table-inner .logo-dec {
	position: relative;
	top: -5px;
	color: #3a599c;
	font-weight: 400 !important;
	vertical-align: top !important;
	margin: 0 !important;
	float: left
}

.Lottary .logo-dec a,
.winner .table-data.Date,
.winner .table-data.Winner {
	line-height: 20px
}

.lottery-title {
	color: #35589c
}

.blue-list ul {
	width: 100%;
	margin: 5px 0;
	background: #35589c
}

.blue-list li {
	float: left;
	padding: 5px;
	color: #fff
}

#regular_picks.orange {
	background: #f5aa19;
	padding: 3px;
	color: #fff
}

.blue-list {
	background: #35589c;
	color: #fff !important;
	padding: 5px 0 5px 10px
}

.circle-active h3 {
	color: #fff
}

.btn-grey,
.circle-no h3 {
	color: #333
}

.intl-tel-input {
	width: 100%
}

.btn-grey {
	background-color: #f5f5f5;
	border: 1px solid #ccc !important;
	cursor: pointer
}

.btn-green {
	color: #fff;
	background-color: #009345;
	border: 1px solid #009345 !important;
	cursor: pointer
}


.btn-section {
	position: fixed;
	z-index: 10;
	bottom: 0;
	width: 96%;
	margin-left: -1px;
	max-width: 1004px;
	padding: 4px;
	text-align:center;
}
.btn-section button {
	margin: 0 !important;
	width: 80%;
	line-height: 52px !important;
	padding: 11px 5px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-size: 20px !important;
	color: #fff;
	background: #009345; /*transparent;*/
	outline: none;
}
@media (min-width: 481px) {
	.btn-section { width: 98%; }
}
@media (min-width: 1025px) {
	.btn-section { max-width: 993px; }
}


.account-btn {
	width: 144px
}

.withdraw-btn {
	width: 110px
}

.success {
	background-color: #e2f7d9;
	border-color: #68bc47;
	color: #000;
	margin-bottom: 20px;
	padding: 7px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-radius: 4px;
	float: left;
	width: 100%;
}
/* fix for Previous Tickets  */
tr.success {
	float: none !important;
}
tr.success td {
	color: #019245;
}

span.heading {
	float: left;
	font-size: 16px;
	line-height: 28px;
	margin-right: 10px
}

#has-coupon {
	line-height: 31px;
}
#has-coupon input[type=text] {
	border: 1px solid #ccc;
	width: 150px;
	float: left
}

#has-coupon .button {
	float: left;
	width: 100px;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	border-radius: 2px
}

#confirm_total {
	line-height: 31px;
	padding-right: 29px
}

.fa,
.glyphicon,
.input-group-addon {
	font-weight: 400;
	line-height: 1
}

.resend {
	float: left;
	width: 100%;
	text-align: center
}

.resend h6 {
	margin: 5px
}

#password,
#password2 {
	text-align: left
}

#paymentDesc {
	padding: 8px
}

#paymentDesc span {
	font-size: 11px
}


@media screen and (min-width: 360px) and (max-width: 479px) {

	.logo-dec {
		font-size: 1.07em
	}

	.select-box .logo {
		width: 27%
	}
}

@media screen and (min-width: 768px) {
	.slider-des .blue-circle {
		width: 38px;
		height: 38px;
		line-height: 38px;
	}
	.howtoplayheading {
		font-size: 2em
	}
}
@media screen and (min-width: 479px) and (max-width: 767px) {
	.select-box .logo {
		width: 20%
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.logo-dec {
		font-size: 1.2em
	}

	.drop-downbox .logo {
		width: 15%
	}

	.select-box .logo {
		padding: 6px;
		width: 12%
	}
}

.lock-icon {
	border-radius: 50%;
	color: #fff;
	background: #35589c;
	border: 1px solid #35589c;
	width: 40px;
	float: left;
	height: 40px;
	font-size: 1.3em
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

.glyphicon {
	position: relative;
	top: 1px;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.glyphicon:empty {
	width: 1em
}

.glyphicon-lock:before {
	content: "\e033"
}

.glyphicon-envelope::before {
	content: "\2709"
}
/*
.fa { font-family: FontAwesome }
.fa-check::before { content: "\f00c" }
.fa-close::before { content: "\f00d" }
.fa-warning:before, .fa-exclamation-triangle:before{ content:"\f071" }
*/
#frmAccountAdd .glyphicon,
#frmLogin2 .glyphicon {
	margin: 0 7px 0 -7px;
	padding: 0 4px 3px 2px
}

#frmAccountAdd .input-group-addon,
#frmLogin2 .input-group-addon {
	float: left;
	height: 35px;
	padding: 9px 19px;
	margin-left: 2px;
	margin-right: -1px
}
.input-group-addon {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
	color: #555;
	font-size: 14px;
	padding: 6px 12px;
	text-align: center
}
.form-group { position: relative; }
.m40 { margin-left: 40px; }
.input-group-addon,
.input-group-btn {
	/*display: table-cell*/
	position: absolute;
	left:0;
	vertical-align: middle;
	white-space: nowrap;
	width: 1%
}
.form-control:focus > .input-group-addon {
	color: #fff;
	background-color: #35589C
}

#frmLogin2 #btnLogin2 {
	width: 242px;
	margin: auto;
}


.input-group .form-control,
.input-group-btn {
	display: table-cell
}


.msg {
	display: block;
	padding: 5px;
	text-align: left;
	border-radius: 5px;
	width: 100%;
	margin: auto;
	border: 1px solid;
	&:before {
		display: inline-block;
		content: "\f00d";
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		float: right;
		margin-top: 1px;
		cursor: pointer;
	}
}

.msg.margin {
	margin-bottom: 20px
}

.msg.success {
	background-color: #dff0d8;
	color: #468847;
	border: 1px solid #468847
}

.msg.warning {
	background-color: #fbe3b4;
	color: #cd8806;
	border: 1px solid #cd8806
}

.msg.danger {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #B94A48
}

#yourLotteryPicksTableContainer {
}

.confirmticket {
	font-size: 17px;
	margin-bottom: 10px !important
}

#btnAddSupport.padding10 {
	font-size: 18px;
	padding: 0 40px
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	cursor: pointer
}

.btn-success {
	background: #009345;
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
	padding: 0 !important;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: .9px
}

.input-secret { position: relative; }
.input-secret input { position: absolute; top: 0; left: 0; opacity: 0; }
.input-secret div {
	z-index: 1;
	color: #aaa;
	background: #fff;
	line-height:20px;
	padding: 7px 12px 6px 12px;
	border: 1px solid #ccc;
	font-family: arial, helvetica;
	font-size: 14px;
}

span.cvv { /* cvv popup button */
	position: absolute;
	display: block;
	right:0; top:2px;
	width: 18px;
	line-height: 18px;
	border-radius: 50%;
	background: #35589c;
	font-size: 13px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
img.cvv {
	display: none;
	position: absolute;
	z-index: 1040;
	left: 0;
	bottom: -20px;
	width: 200px;
	margin-left: 40px;
}

.modal-open{overflow:hidden}
.modal{position:fixed;top:10px;right:0;bottom:0;left:0;z-index:1040;display:none;overflow:auto;}
.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.modal-dialog{position:relative;z-index:1050;width:auto;padding:10px;margin-right:auto;margin-left:auto}
.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1030;background-color:#000}
.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}
.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}
.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5}
.modal-header .close{float:right; margin-top:-2px; padding:5px 10px; background: #eee;}
.modal-title{margin:0;line-height:1.428571429}
.modal-body{position:relative;padding:20px;text-align:center;}
.modal-body button { float:none;padding:0 10px; }
@media screen and (min-width:768px){
	.modal-dialog{width:600px;padding-top:30px;padding-bottom:30px}
	.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type='number'] { -moz-appearance:textfield; }

.nomargin { margin: 0 !important; }
.nopadding { padding: 0 !important; }
