/* promotions list */
.promolist .promoitem {
	margin-bottom: 20px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
.promolist .promoitem:last-child {
	margin-bottom: 0;
	border-bottom:none;
}
.promolist .promoitem img {
	margin:0 20px 20px 0;
	width:30%;
	max-width:150px;
	float:left;
}
.promolist .promoitem button {
	margin:6px 0 5px 10px;
	padding:0 5px !important;
	line-height:30px !important;
}

/* single promotion */
.promotion .promotitle { text-align:center; }
.promotion .promotitle img { width:100%; max-width:200px; }
.promotion .selectPlan {
	margin: 10px;
}
.promotion h3 {
	font-size: 20px;
	margin: 0; padding: 4px 0;
}
.promotion h3 span { color: #009045 }
.promotion small {
	display: inline-block;
	font-size: 13px;
	line-height: 15px;
}
.promotion .img-circle {
	clear: both;
	margin: 0 10px 40px 0;
}

/* single plan box */
.promotion .plan-box {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 6px solid #eee;
	text-align: left;
	color: #888;
	cursor: pointer;
	transition: all .2s ease;
}
.promotion .plan-box.active {
	border-color: #009045;
}
/* last sold label */
.promotion .plan-box .lastsold {
	position: absolute;
	top: 0; right: 0;
	padding: 0 5px 5px 5px;
	background: #ccc;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
}
.promotion .plan-box.active .lastsold {
	background: #009045;
	color: #fff;
}
/* most favorite box */
.promotion .plan-box .mostFav {
	position: absolute;
	transform: rotate(-45deg);
	opacity:80%;
	right:-32px;
	bottom:20px;
	padding: 0 30px;
	line-height: 22px;
	text-align: center;
	font-weight: normal;
	font-size:11px;
	color: #fff;
	background: #aaa;
}
.promotion .plan-box.active .mostFav { background: #e22633; }

/* single plan box internal suff */
.promotion .glyphicon {
	display: inline-block;
	position: relative;
	top: -2px;
	width: 20px;
	margin-right: 8px;
	background: #009045;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	font-family: FontAwesome;
	color: #fff;
}
.glyphicon-ok:before { content: "\f00c"; }
.promotion .plan-box .glyphicon {
	display: none;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 30px;
	line-height: 30px;
	font-size: 16px;
}
.promotion .plan-box .plan-name {
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}
.promotion .plan-box .sup {
	display: inline;
	vertical-align: top;
	font-size: 19px;
	font-weight: bold;
}
.promotion .plan-box .amount {
	display: inline;
	font-size: 28px;
	font-weight: bold;
	color: #000;
}
.promotion .plan-box .per-month {
	display: inline;
	margin: -2px 0 10px 0;
	font-size: 14px;
}
.promotion .plan-box.active .per-month { color: #009045; }
.promotion .plan-box .billing-info {
	display: inline-block;
	padding-top: 10px;
	border-top: 1px solid #eee;
	font-size: 14px;
	font-weight: normal;
}
.promotion .plan-box .billing-info b { /* color: #000; */ }
.promotion .plan-box .savings {
	margin-top: 5px;
	font-size: 22px;
	font-weight: bold;
	color:#999;
}
.promotion .plan-box.active .savings { color: #009045; }
.promotion .plan-box .small {
	margin-top: 5px;
	font-size: 10px;
	font-weight: normal;
}
.promotion #pckgconfirm {
	position: relative;
	overflow: hidden;
	line-height: 42px;
	border: none;
	font-size: 18px;
	width: 120px;
}

/* plan box fint */
.promotion .plan-box .hint {
	display: none;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 14px;
	color: #333;
}
.promotion .plan-box.active .hint { display: block; }
.promotion .plan-box .hint b { color: red; }
