.social-login {
	text-align: center;
	margin-bottom: 25px;
	padding-top: 10px;
	border-bottom: 1px solid #eee;
	width: 100%;
	a {
		display: inline-block;
		width: 40%;
		color: white;
		padding: 0.5em;
		margin: 4%;
		text-align: center;
	}
	.facebook_button {
		background-color: #3b5995;
	}
	.google_button {
		background-color: #de4c35;
	}

	&::after {
		content: 'or';
		position: relative;
		top: 10px;
		background-color: #fff;
		width: 50px;
		display: inline-block;
		color: #35589c;
		font-weight: bold;
		font-style: italic;
	}
}
