@background-gray:       #333;
@background-green:      #009345;
@background-white:      #fff;
@background-orange:     #F5AA19;
@background-blue:       #35589C;
@background-smokewhite: #EBEBEB;
@background-red:        #E60030;
@background-pale:       #FCF8E3;

@border-pale:           #FBEED5;
@border-lightgray:      #d5d5d5;

@text-white:            #fff;
@text-green:            #019245;
@text-blue:             #35589C;
@text-black:            #000;
@text-gray:             #333;
@text-red:              #E60030;
@text-orange:           #F5AA19;

@href:                  #f85c37;
@href-hover:            #7b7b7b;